
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 74.8rem;
}.component-1-3X6 {
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 0.5rem;
  padding: 2rem;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  border: dashed 0.1rem #9747ff;

  .property-1item-bar-1-nDn {
    align-items: center;
    display: flex;
    background-color: #f5f5f5;
    margin-right: 5rem;
    padding: 2.1rem 1.9rem 2.2rem 2rem;
    height: 86rem;
    flex-shrink: 0;
    box-sizing: border-box;
    width: 20.6rem;
    flex-direction: column;

    .cooking-2-5Tn {
      flex-shrink: 0;
      margin: 0rem 0rem 3.4rem 0.6rem;
      width: 11.3rem;
      height: 11.7rem;
      object-fit: cover;
      vertical-align: top;
    }
    .yoga-1-QFA {
      height: 10.5rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 1.2rem 5.8rem 0rem;
      width: 10.5rem;
    }
    .restaurant-1-ime {
      height: 8.8rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 1.7rem 5.8rem 0rem;
      width: 10rem;
    }
    .video-1-3J8 {
      height: 10.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 1.3rem 3.4rem 0rem;
      width: 9.8rem;
    }
    .guitar-1-Ade {
      margin: 0rem 0rem 5rem 0.1rem;
      width: 11.8rem;
      height: 13.1rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .next-h7n {
      width: 16.7rem;
      height: 3.8rem;
      cursor: pointer;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .property-1item-bar-2-1eG {
    box-sizing: border-box;
    height: 86rem;
    align-items: center;
    background-color: #f5f5f5;
    flex-shrink: 0;
    margin-right: 4rem;
    padding: 3.7rem 1.9rem 2.2rem 2rem;
    width: 20.6rem;
    display: flex;
    flex-direction: column;

    .gender-1-uUk {
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0rem 5rem 0.2rem;
      width: 9.5rem;
      height: 8.8rem;
      object-fit: cover;
    }
    .surfer-2-dfe {
      height: 10.1rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0rem 4.2rem 1rem;
      width: 10.3rem;
    }
    .hiking-2-ZJQ {
      width: 11.6rem;
      height: 12.2rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 1.3rem 4.1rem 0rem;
    }
    .video-1-gtp {
      height: 10.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 1.3rem 4.1rem 0rem;
      width: 9.8rem;
    }
    .yoga-1-1AQ {
      margin: 0rem 3.2rem 6.9rem 0rem;
      width: 10.5rem;
      height: 10.5rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .next-91i {
      width: 16.7rem;
      height: 3.8rem;
      cursor: pointer;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .property-1item-bar-3-5RA {
    box-sizing: border-box;
    padding: 2.1rem 1.9rem 2.2rem 2rem;
    height: 86rem;
    background-color: #f5f5f5;
    flex-shrink: 0;
    width: 20.6rem;
    align-items: center;
    display: flex;
    flex-direction: column;

    .cooking-2-PRr {
      margin: 0rem 0rem 1.4rem 0.6rem;
      width: 11.3rem;
      height: 11.7rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .guitar-1-WmN {
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0rem 5.2rem 0.1rem;
      width: 11.8rem;
      height: 13.1rem;
      object-fit: cover;
    }
    .restaurant-1-SQ8 {
      width: 10rem;
      height: 8.8rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 1.7rem 5.8rem 0rem;
    }
    .video-1-mSQ {
      flex-shrink: 0;
      margin: 0rem 1.3rem 4.6rem 0rem;
      width: 9.8rem;
      height: 10.4rem;
      object-fit: cover;
      vertical-align: top;
    }
    .surfer-3-6Dn {
      height: 10.1rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 2rem 6.8rem 0rem;
      width: 10.3rem;
    }
    .next-RG4 {
      flex-shrink: 0;
      width: 16.7rem;
      height: 3.8rem;
      cursor: pointer;
      object-fit: contain;
      vertical-align: top;
    }
  }
}
