
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 89.6rem;
}.event-3-q2G {
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  border: dashed 0.1rem #9747ff;
  border-radius: 0.5rem;
  box-sizing: border-box;
  padding: 4.9rem 2.4rem 4.4rem 1.6rem;
  width: 100%;
  position: relative;
  display: flex;

  .close-9oe {
    margin-bottom: 5.4rem;
    padding: 2rem 4.2rem 1.9rem 3.7rem;
    width: 100%;
    height: 13.9rem;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: #d9d9d9;
    flex-shrink: 0;

    .ellipse-1-Frg {
      flex-shrink: 0;
      margin-right: 5.3rem;
      width: 10rem;
      height: 10rem;
      background-color: #9747ff;
      border-radius: 5rem;
    }
    .auto-group-dd6k-nbi {
      margin: 0rem 4.3rem 1.4rem 0rem;
      width: 34.3rem;
      flex-shrink: 0;

      .weekend-surfing-trip-j1A {
        font-size: 3.5rem;
        font-weight: 600;
        font-family: Inter, 'Source Sans Pro';
        text-align: center;
        width: 100%;
        line-height: 1.5;
        letter-spacing: -0.0385rem;
        color: #000000;
        white-space: nowrap;
        margin-bottom: 0.3rem;
      }
      .date-2-17-2-18-place-taitung-Dh2 {
        font-weight: 600;
        line-height: 1.5;
        color: #000000;
        white-space: nowrap;
        width: 100%;
        text-align: center;
        font-family: Inter, 'Source Sans Pro';
        font-size: 2rem;
        letter-spacing: -0.022rem;
      }
    }
    .frame-19-LFr {
      height: calc(100% - 1.1rem);
      overflow: hidden;
      position: relative;
      background-color: #9747ff;
      flex-shrink: 0;
      margin: 0.8rem 4.6rem 0.3rem 0rem;
      box-sizing: border-box;
      padding: 0.6rem;

      .af8ff6c9-fec8-4ec0-98c6-11e7fdfc116c-1-rV6 {
        vertical-align: top;
        width: 9.4rem;
        height: 7.7rem;
        object-fit: cover;
      }
    }
    .frame-20-mMA {
      background-color: #9747ff;
      flex-shrink: 0;
      margin: 0.8rem 0rem 0.3rem 0rem;
      box-sizing: border-box;
      padding: 0.3rem 0.5rem;
      height: calc(100% - 1.1rem);
      overflow: hidden;
      position: relative;

      .a8d14c19-1593-4308-8425-a0972fcc0dfc-1-tgg {
        object-fit: cover;
        vertical-align: top;
        width: 7.6rem;
        height: 8.3rem;
      }
    }
  }
  .open-QQ8 {
    width: 100%;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 2rem 4.399rem 2.1rem 3.699rem;
    cursor: pointer;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #d9d9d9;

    .auto-group-ufhu-8L8 {
      margin: 0rem 0.601rem 2.649rem 0.001rem;
      width: calc(100% - 0.6016rem);
      height: 10rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .ellipse-1-Src {
        width: 10rem;
        height: 10rem;
        background-color: #9747ff;
        border-radius: 5rem;
        flex-shrink: 0;
      }
      .auto-group-tgn7-NkG {
        box-sizing: border-box;
        padding-left: 5.3rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-fnck-iJL {
          margin: 0rem 8.2rem 1.4rem 0rem;
          width: 34.3rem;
          flex-shrink: 0;

          .weekend-surfing-trip-3rQ {
            width: 100%;
            text-align: center;
            font-weight: 600;
            letter-spacing: -0.0385rem;
            color: #000000;
            white-space: nowrap;
            margin-bottom: 0.3rem;
            line-height: 1.5;
            font-family: Inter, 'Source Sans Pro';
            font-size: 3.5rem;
          }
          .date-2-17-2-18-place-taitung-xiU {
            letter-spacing: -0.022rem;
            width: 100%;
            font-size: 2rem;
            font-weight: 600;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            text-align: center;
            line-height: 1.5;
            color: #000000;
          }
        }
        .frame-1-Ugp {
          color: #000000;
          cursor: pointer;
          font-size: 2rem;
          letter-spacing: -0.022rem;
          font-family: Inter, 'Source Sans Pro';
          display: flex;
          border-radius: 1.7rem;
          width: 19.1rem;
          font-weight: 600;
          justify-content: center;
          overflow: hidden;
          height: calc(100% - 3.2rem);
          position: relative;
          line-height: 1.5;
          white-space: nowrap;
          align-items: center;
          background-color: #ffa629;
          flex-shrink: 0;
          margin: 1.7rem 0rem 1.5rem 0rem;
        }
      }
    }
    .line-1-vYp {
      height: 0.1rem;
      background-color: #000000;
      flex-shrink: 0;
      margin-bottom: 1.5506rem;
      width: 100%;
    }
    .auto-group-16aw-g2C {
      height: 36.8rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 0.901rem 0rem 2.001rem;
      width: calc(100% - 2.9016rem);

      .auto-group-znpt-PxC {
        flex-shrink: 0;
        margin-right: 4.7rem;
        height: 100%;
        display: flex;
        flex-direction: column;

        .master-henry-like-surfing-hiking-and-anything-outdoor-has-a-lot-of-experience-for-holding-event-YaC {
          margin: 0rem 0rem 2.3rem 0.1rem;
          max-width: 40.4rem;
          font-size: 2rem;
          line-height: 1.5;
          letter-spacing: -0.022rem;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          font-weight: 600;
          flex-shrink: 0;
        }
        .content-taiwans-eastern-city-of-taitung-is-known-for-having-some-of-the-best-waves-for-surfing-and-the-weather-forecast-predicts-big-waves-this-weekend-im-hoping-to-find-a-group-of-friends-who-share-my-love-of-surfing-and-drive-there-together-itll-be-an-amazing-trip-where-we-can-surf-during-the-day-and-enjoy-drinks-and-conversations-at-night-Cue {
          line-height: 1.5;
          letter-spacing: -0.022rem;
          font-family: Inter, 'Source Sans Pro';
          margin-bottom: 1.5rem;
          max-width: 50.6rem;
          font-size: 2rem;
          font-weight: 600;
          color: #000000;
          flex-shrink: 0;
        }
        .more-detail-PDS {
          font-size: 2rem;
          font-weight: 600;
          letter-spacing: -0.022rem;
          color: #2c3ed7;
          white-space: nowrap;
          flex-shrink: 0;
          cursor: pointer;
          line-height: 1.5;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .auto-group-a6km-K76 {
        flex-shrink: 0;
        margin: 0.5rem 0rem 1.5rem 0rem;
        width: 19.3rem;
        height: calc(100% - 2rem);
        align-items: center;
        display: flex;
        flex-direction: column;

        .frame-19-qbE {
          overflow: hidden;
          position: relative;
          background-color: #9747ff;
          flex-shrink: 0;
          margin-bottom: 1.8rem;
          box-sizing: border-box;
          padding: 0.6rem 0.9rem 0.6rem 0.6rem;
          width: 100%;

          .af8ff6c9-fec8-4ec0-98c6-11e7fdfc116c-1-MZa {
            object-fit: cover;
            vertical-align: top;
            width: 17.8rem;
            height: 13rem;
          }
        }
        .frame-20-TsW {
          box-sizing: border-box;
          padding: 0.3rem 0.5rem 0.4rem 0.5rem;
          width: calc(100% - 4.7rem);
          overflow: hidden;
          position: relative;
          background-color: #9747ff;
          flex-shrink: 0;
          margin: 0rem 2.6rem 0rem 2.1rem;

          .a8d14c19-1593-4308-8425-a0972fcc0dfc-1-Nja {
            height: 18.1rem;
            object-fit: cover;
            vertical-align: top;
            width: 13.6rem;
          }
        }
      }
    }
  }
}
