
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 53rem;
}.frame-35-f5i {
  position: relative;
  border: dashed 0.1rem #9747ff;
  border-radius: 0.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 2rem;
  width: 100%;
  overflow: hidden;

  .property-1default-zNt {
    padding: 1.3rem 1rem 0rem 1.8rem;
    width: 100%;
    height: 62.7rem;
    margin-bottom: 2rem;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: flex-start;
    background-color: #ffffff;
    flex-shrink: 0;
    box-sizing: border-box;

    .frame-28-tz4 {
      width: 40.7rem;
      height: 122.7rem;
      row-gap: 1.9rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-right: 1.3rem;

      .frame-21-btU {
        width: 100%;
        height: 7rem;
        position: relative;
        flex-shrink: 0;

        .rectangle-25-m2G {
          height: 5.8rem;
          position: absolute;
          left: 2.4rem;
          top: 0.6rem;
          background-color: #d9d9d9;
          width: 38.3rem;
        }
        .ellipse-6-6KS {
          background-color: #9747ff;
          border-radius: 3.5rem;
          width: 7rem;
          height: 7rem;
          position: absolute;
          left: 0;
          top: 0;
        }
        .henry-pmE {
          height: 3rem;
          left: 9.2rem;
          line-height: 1.5;
          letter-spacing: -0.022rem;
          color: #000000;
          width: 6.5rem;
          position: absolute;
          top: 2rem;
          font-size: 2rem;
          font-weight: 600;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .frame-22-uXn {
        position: relative;
        flex-shrink: 0;
        width: 100%;
        height: 7rem;

        .rectangle-25-Fbe {
          width: 38.3rem;
          height: 5.8rem;
          position: absolute;
          left: 2.4rem;
          top: 0.6rem;
          background-color: #d9d9d9;
        }
        .ellipse-6-z3S {
          left: 0;
          top: 0;
          background-color: #9747ff;
          border-radius: 3.5rem;
          width: 7rem;
          height: 7rem;
          position: absolute;
        }
        .henry-jWp {
          letter-spacing: -0.022rem;
          font-family: Inter, 'Source Sans Pro';
          width: 6.5rem;
          height: 3rem;
          position: absolute;
          left: 9.2rem;
          font-weight: 600;
          top: 2rem;
          font-size: 2rem;
          line-height: 1.5;
          color: #000000;
          white-space: nowrap;
        }
      }
      .frame-23-r5e {
        width: 100%;
        height: 7rem;
        position: relative;
        flex-shrink: 0;

        .rectangle-25-zxY {
          width: 38.3rem;
          height: 5.8rem;
          position: absolute;
          left: 2.4rem;
          top: 0.6rem;
          background-color: #d9d9d9;
        }
        .ellipse-6-Xha {
          width: 7rem;
          height: 7rem;
          position: absolute;
          left: 0;
          top: 0;
          background-color: #9747ff;
          border-radius: 3.5rem;
        }
        .henry-sWY {
          height: 3rem;
          position: absolute;
          font-size: 2rem;
          font-weight: 600;
          line-height: 1.5;
          letter-spacing: -0.022rem;
          font-family: Inter, 'Source Sans Pro';
          width: 6.5rem;
          left: 9.2rem;
          top: 2rem;
          color: #000000;
          white-space: nowrap;
        }
      }
      .frame-24-bBe {
        width: 100%;
        height: 7rem;
        position: relative;
        flex-shrink: 0;

        .rectangle-25-MAp {
          top: 0.6rem;
          background-color: #d9d9d9;
          width: 38.3rem;
          height: 5.8rem;
          position: absolute;
          left: 2.4rem;
        }
        .ellipse-6-tAk {
          width: 7rem;
          height: 7rem;
          position: absolute;
          left: 0;
          top: 0;
          background-color: #9747ff;
          border-radius: 3.5rem;
        }
        .henry-EVW {
          width: 6.5rem;
          height: 3rem;
          position: absolute;
          left: 9.2rem;
          top: 2rem;
          font-size: 2rem;
          font-weight: 600;
          line-height: 1.5;
          letter-spacing: -0.022rem;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .frame-26-wui {
        position: relative;
        flex-shrink: 0;
        width: 100%;
        height: 7rem;

        .rectangle-25-WC8 {
          width: 38.3rem;
          height: 5.8rem;
          position: absolute;
          left: 2.4rem;
          top: 0.6rem;
          background-color: #d9d9d9;
        }
        .ellipse-6-RK6 {
          height: 7rem;
          position: absolute;
          left: 0;
          top: 0;
          background-color: #9747ff;
          border-radius: 3.5rem;
          width: 7rem;
        }
        .henry-w2Y {
          white-space: nowrap;
          height: 3rem;
          position: absolute;
          left: 9.2rem;
          font-size: 2rem;
          font-weight: 600;
          line-height: 1.5;
          width: 6.5rem;
          top: 2rem;
          letter-spacing: -0.022rem;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .frame-27-Qwi {
        width: 100%;
        height: 7rem;
        position: relative;
        flex-shrink: 0;

        .rectangle-25-yV2 {
          height: 5.8rem;
          position: absolute;
          left: 2.4rem;
          top: 0.6rem;
          background-color: #d9d9d9;
          width: 38.3rem;
        }
        .ellipse-6-K36 {
          width: 7rem;
          height: 7rem;
          position: absolute;
          left: 0;
          top: 0;
          background-color: #9747ff;
          border-radius: 3.5rem;
        }
        .henry-FhS {
          white-space: nowrap;
          width: 6.5rem;
          position: absolute;
          top: 2rem;
          line-height: 1.5;
          font-family: Inter, 'Source Sans Pro';
          color: #000000;
          height: 3rem;
          left: 9.2rem;
          font-size: 2rem;
          font-weight: 600;
          letter-spacing: -0.022rem;
        }
      }
      .frame-28-mQt {
        width: 100%;
        height: 7rem;
        position: relative;
        flex-shrink: 0;

        .rectangle-25-8FS {
          background-color: #d9d9d9;
          width: 38.3rem;
          height: 5.8rem;
          position: absolute;
          left: 2.4rem;
          top: 0.6rem;
        }
        .ellipse-6-4un {
          background-color: #9747ff;
          border-radius: 3.5rem;
          width: 7rem;
          height: 7rem;
          position: absolute;
          left: 0;
          top: 0;
        }
        .henry-pPA {
          font-weight: 600;
          line-height: 1.5;
          letter-spacing: -0.022rem;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          height: 3rem;
          position: absolute;
          top: 2rem;
          white-space: nowrap;
          width: 6.5rem;
          left: 9.2rem;
          font-size: 2rem;
        }
      }
      .frame-29-izL {
        width: 100%;
        height: 7rem;
        position: relative;
        flex-shrink: 0;

        .rectangle-25-ggG {
          width: 38.3rem;
          height: 5.8rem;
          position: absolute;
          left: 2.4rem;
          top: 0.6rem;
          background-color: #d9d9d9;
        }
        .ellipse-6-pnU {
          width: 7rem;
          height: 7rem;
          position: absolute;
          left: 0;
          top: 0;
          background-color: #9747ff;
          border-radius: 3.5rem;
        }
        .henry-aFr {
          letter-spacing: -0.022rem;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          left: 9.2rem;
          font-size: 2rem;
          font-weight: 600;
          top: 2rem;
          line-height: 1.5;
          color: #000000;
          width: 6.5rem;
          height: 3rem;
          position: absolute;
        }
      }
      .frame-30-gpg {
        width: 100%;
        height: 7rem;
        position: relative;
        flex-shrink: 0;

        .rectangle-25-eFi {
          position: absolute;
          left: 2.4rem;
          top: 0.6rem;
          background-color: #d9d9d9;
          width: 38.3rem;
          height: 5.8rem;
        }
        .ellipse-6-PDJ {
          position: absolute;
          left: 0;
          top: 0;
          background-color: #9747ff;
          border-radius: 3.5rem;
          width: 7rem;
          height: 7rem;
        }
        .henry-8gg {
          height: 3rem;
          position: absolute;
          font-size: 2rem;
          font-family: Inter, 'Source Sans Pro';
          color: #000000;
          white-space: nowrap;
          width: 6.5rem;
          left: 9.2rem;
          top: 2rem;
          font-weight: 600;
          line-height: 1.5;
          letter-spacing: -0.022rem;
        }
      }
      .frame-31-e9E {
        width: 100%;
        height: 7rem;
        position: relative;
        flex-shrink: 0;

        .rectangle-25-Q8Q {
          top: 0.6rem;
          background-color: #d9d9d9;
          width: 38.3rem;
          height: 5.8rem;
          position: absolute;
          left: 2.4rem;
        }
        .ellipse-6-jwN {
          width: 7rem;
          height: 7rem;
          position: absolute;
          left: 0;
          top: 0;
          background-color: #9747ff;
          border-radius: 3.5rem;
        }
        .henry-t3a {
          font-weight: 600;
          width: 6.5rem;
          height: 3rem;
          top: 2rem;
          line-height: 1.5;
          letter-spacing: -0.022rem;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          position: absolute;
          left: 9.2rem;
          font-size: 2rem;
        }
      }
      .frame-32-CKA {
        width: 100%;
        height: 7rem;
        position: relative;
        flex-shrink: 0;

        .rectangle-25-9VJ {
          width: 38.3rem;
          height: 5.8rem;
          position: absolute;
          left: 2.4rem;
          top: 0.6rem;
          background-color: #d9d9d9;
        }
        .ellipse-6-tBz {
          width: 7rem;
          height: 7rem;
          position: absolute;
          left: 0;
          top: 0;
          background-color: #9747ff;
          border-radius: 3.5rem;
        }
        .henry-EFr {
          white-space: nowrap;
          position: absolute;
          left: 9.2rem;
          line-height: 1.5;
          letter-spacing: -0.022rem;
          font-weight: 600;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          width: 6.5rem;
          height: 3rem;
          top: 2rem;
          font-size: 2rem;
        }
      }
      .frame-33-LJt {
        width: 100%;
        height: 7rem;
        position: relative;
        flex-shrink: 0;

        .rectangle-25-h9S {
          background-color: #d9d9d9;
          width: 38.3rem;
          height: 5.8rem;
          position: absolute;
          left: 2.4rem;
          top: 0.6rem;
        }
        .ellipse-6-2xQ {
          border-radius: 3.5rem;
          width: 7rem;
          height: 7rem;
          position: absolute;
          left: 0;
          top: 0;
          background-color: #9747ff;
        }
        .henry-BaQ {
          width: 6.5rem;
          font-weight: 600;
          font-family: Inter, 'Source Sans Pro';
          line-height: 1.5;
          letter-spacing: -0.022rem;
          color: #000000;
          height: 3rem;
          position: absolute;
          left: 9.2rem;
          top: 2rem;
          font-size: 2rem;
          white-space: nowrap;
        }
      }
      .frame-34-HdS {
        width: 100%;
        height: 7rem;
        position: relative;
        flex-shrink: 0;

        .rectangle-25-2L8 {
          width: 38.3rem;
          height: 5.8rem;
          position: absolute;
          left: 2.4rem;
          top: 0.6rem;
          background-color: #d9d9d9;
        }
        .ellipse-6-9vY {
          height: 7rem;
          position: absolute;
          left: 0;
          top: 0;
          background-color: #9747ff;
          border-radius: 3.5rem;
          width: 7rem;
        }
        .henry-J2k {
          height: 3rem;
          font-size: 2rem;
          font-weight: 600;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          width: 6.5rem;
          position: absolute;
          left: 9.2rem;
          top: 2rem;
          line-height: 1.5;
          letter-spacing: -0.022rem;
          white-space: nowrap;
        }
      }
      .frame-25-1Sx {
        height: 7rem;
        position: relative;
        flex-shrink: 0;
        width: 100%;

        .rectangle-25-ZUU {
          height: 5.8rem;
          position: absolute;
          left: 2.4rem;
          top: 0.6rem;
          background-color: #d9d9d9;
          width: 38.3rem;
        }
        .ellipse-6-JS4 {
          top: 0;
          background-color: #9747ff;
          border-radius: 3.5rem;
          width: 7rem;
          height: 7rem;
          position: absolute;
          left: 0;
        }
        .henry-eVv {
          font-weight: 600;
          line-height: 1.5;
          letter-spacing: -0.022rem;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          position: absolute;
          font-size: 2rem;
          left: 9.2rem;
          top: 2rem;
          white-space: nowrap;
          width: 6.5rem;
          height: 3rem;
        }
      }
    }
    .auto-group-cdkx-kor {
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-top: 1.5rem;
      width: 4.2rem;
      height: 56.6rem;
    }
  }
  .property-1variant2-5r8 {
    box-sizing: border-box;
    padding: 0rem 2rem 0rem 1.8rem;
    height: 62.7rem;
    align-items: flex-end;
    background-color: #ffffff;
    flex-shrink: 0;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;

    .frame-28-oGL {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 2.3rem 5rem 0rem;
      width: 40.7rem;
      row-gap: 1.9rem;
      align-items: center;

      .frame-21-Vur {
        width: 100%;
        height: 7rem;
        position: relative;
        flex-shrink: 0;

        .rectangle-25-rVW {
          top: 0.6rem;
          background-color: #d9d9d9;
          width: 38.3rem;
          height: 5.8rem;
          position: absolute;
          left: 2.4rem;
        }
        .ellipse-6-zbi {
          border-radius: 3.5rem;
          width: 7rem;
          height: 7rem;
          position: absolute;
          left: 0;
          top: 0;
          background-color: #9747ff;
        }
        .henry-8xp {
          line-height: 1.5;
          color: #000000;
          white-space: nowrap;
          width: 6.5rem;
          position: absolute;
          left: 9.2rem;
          font-weight: 600;
          letter-spacing: -0.022rem;
          font-family: Inter, 'Source Sans Pro';
          height: 3rem;
          top: 2rem;
          font-size: 2rem;
        }
      }
      .frame-22-3pt {
        position: relative;
        flex-shrink: 0;
        width: 100%;
        height: 7rem;

        .rectangle-25-cNC {
          top: 0.6rem;
          background-color: #d9d9d9;
          width: 38.3rem;
          height: 5.8rem;
          position: absolute;
          left: 2.4rem;
        }
        .ellipse-6-xBA {
          width: 7rem;
          height: 7rem;
          position: absolute;
          left: 0;
          top: 0;
          background-color: #9747ff;
          border-radius: 3.5rem;
        }
        .henry-JVv {
          letter-spacing: -0.022rem;
          color: #000000;
          width: 6.5rem;
          height: 3rem;
          position: absolute;
          left: 9.2rem;
          top: 2rem;
          line-height: 1.5;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 2rem;
          font-weight: 600;
        }
      }
      .frame-23-1v8 {
        position: relative;
        flex-shrink: 0;
        width: 100%;
        height: 7rem;

        .rectangle-25-Zwe {
          width: 38.3rem;
          height: 5.8rem;
          position: absolute;
          left: 2.4rem;
          top: 0.6rem;
          background-color: #d9d9d9;
        }
        .ellipse-6-JPS {
          top: 0;
          background-color: #9747ff;
          border-radius: 3.5rem;
          width: 7rem;
          height: 7rem;
          position: absolute;
          left: 0;
        }
        .henry-SkY {
          height: 3rem;
          left: 9.2rem;
          top: 2rem;
          font-size: 2rem;
          line-height: 1.5;
          color: #000000;
          white-space: nowrap;
          width: 6.5rem;
          position: absolute;
          font-weight: 600;
          letter-spacing: -0.022rem;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .frame-24-9ur {
        width: 100%;
        height: 7rem;
        position: relative;
        flex-shrink: 0;

        .rectangle-25-WkQ {
          height: 5.8rem;
          position: absolute;
          left: 2.4rem;
          top: 0.6rem;
          background-color: #d9d9d9;
          width: 38.3rem;
        }
        .ellipse-6-rZN {
          background-color: #9747ff;
          border-radius: 3.5rem;
          width: 7rem;
          height: 7rem;
          position: absolute;
          left: 0;
          top: 0;
        }
        .henry-PpC {
          height: 3rem;
          position: absolute;
          top: 2rem;
          font-size: 2rem;
          line-height: 1.5;
          color: #000000;
          white-space: nowrap;
          width: 6.5rem;
          left: 9.2rem;
          font-weight: 600;
          letter-spacing: -0.022rem;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .frame-26-7EQ {
        width: 100%;
        height: 7rem;
        position: relative;
        flex-shrink: 0;

        .rectangle-25-sDa {
          width: 38.3rem;
          height: 5.8rem;
          position: absolute;
          left: 2.4rem;
          top: 0.6rem;
          background-color: #d9d9d9;
        }
        .ellipse-6-D2Y {
          background-color: #9747ff;
          border-radius: 3.5rem;
          width: 7rem;
          height: 7rem;
          position: absolute;
          left: 0;
          top: 0;
        }
        .henry-xVv {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          left: 9.2rem;
          top: 2rem;
          letter-spacing: -0.022rem;
          color: #000000;
          font-weight: 600;
          line-height: 1.5;
          width: 6.5rem;
          height: 3rem;
          position: absolute;
          font-size: 2rem;
        }
      }
      .frame-27-H2Q {
        position: relative;
        flex-shrink: 0;
        width: 100%;
        height: 7rem;

        .rectangle-25-ECY {
          background-color: #d9d9d9;
          width: 38.3rem;
          height: 5.8rem;
          position: absolute;
          left: 2.4rem;
          top: 0.6rem;
        }
        .ellipse-6-jQC {
          position: absolute;
          left: 0;
          top: 0;
          background-color: #9747ff;
          border-radius: 3.5rem;
          width: 7rem;
          height: 7rem;
        }
        .henry-T5J {
          font-size: 2rem;
          line-height: 1.5;
          left: 9.2rem;
          top: 2rem;
          position: absolute;
          font-weight: 600;
          letter-spacing: -0.022rem;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 6.5rem;
          height: 3rem;
        }
      }
      .frame-28-Z8L {
        flex-shrink: 0;
        width: 100%;
        height: 7rem;
        position: relative;

        .rectangle-25-WJU {
          width: 38.3rem;
          height: 5.8rem;
          position: absolute;
          left: 2.4rem;
          top: 0.6rem;
          background-color: #d9d9d9;
        }
        .ellipse-6-FWx {
          border-radius: 3.5rem;
          width: 7rem;
          height: 7rem;
          position: absolute;
          left: 0;
          top: 0;
          background-color: #9747ff;
        }
        .henry-CBJ {
          font-size: 2rem;
          font-weight: 600;
          line-height: 1.5;
          letter-spacing: -0.022rem;
          font-family: Inter, 'Source Sans Pro';
          left: 9.2rem;
          top: 2rem;
          position: absolute;
          color: #000000;
          white-space: nowrap;
          width: 6.5rem;
          height: 3rem;
        }
      }
      .frame-29-73N {
        width: 100%;
        height: 7rem;
        position: relative;
        flex-shrink: 0;

        .rectangle-25-4jJ {
          position: absolute;
          left: 2.4rem;
          top: 0.6rem;
          background-color: #d9d9d9;
          width: 38.3rem;
          height: 5.8rem;
        }
        .ellipse-6-QYG {
          border-radius: 3.5rem;
          width: 7rem;
          height: 7rem;
          position: absolute;
          left: 0;
          top: 0;
          background-color: #9747ff;
        }
        .henry-ZAG {
          width: 6.5rem;
          height: 3rem;
          position: absolute;
          left: 9.2rem;
          font-weight: 600;
          letter-spacing: -0.022rem;
          font-family: Inter, 'Source Sans Pro';
          top: 2rem;
          font-size: 2rem;
          line-height: 1.5;
          color: #000000;
          white-space: nowrap;
        }
      }
      .frame-30-UY8 {
        height: 7rem;
        position: relative;
        flex-shrink: 0;
        width: 100%;

        .rectangle-25-2pY {
          width: 38.3rem;
          height: 5.8rem;
          position: absolute;
          left: 2.4rem;
          top: 0.6rem;
          background-color: #d9d9d9;
        }
        .ellipse-6-yjn {
          top: 0;
          background-color: #9747ff;
          border-radius: 3.5rem;
          width: 7rem;
          height: 7rem;
          position: absolute;
          left: 0;
        }
        .henry-vQ8 {
          width: 6.5rem;
          height: 3rem;
          left: 9.2rem;
          font-size: 2rem;
          line-height: 1.5;
          font-family: Inter, 'Source Sans Pro';
          position: absolute;
          top: 2rem;
          font-weight: 600;
          letter-spacing: -0.022rem;
          color: #000000;
          white-space: nowrap;
        }
      }
      .frame-31-pkQ {
        width: 100%;
        height: 7rem;
        position: relative;
        flex-shrink: 0;

        .rectangle-25-nBS {
          width: 38.3rem;
          height: 5.8rem;
          position: absolute;
          left: 2.4rem;
          top: 0.6rem;
          background-color: #d9d9d9;
        }
        .ellipse-6-iKz {
          position: absolute;
          left: 0;
          top: 0;
          background-color: #9747ff;
          border-radius: 3.5rem;
          width: 7rem;
          height: 7rem;
        }
        .henry-ToN {
          width: 6.5rem;
          height: 3rem;
          position: absolute;
          font-size: 2rem;
          line-height: 1.5;
          letter-spacing: -0.022rem;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          left: 9.2rem;
          top: 2rem;
          font-weight: 600;
          white-space: nowrap;
        }
      }
      .frame-32-BUU {
        position: relative;
        flex-shrink: 0;
        width: 100%;
        height: 7rem;

        .rectangle-25-vwr {
          position: absolute;
          left: 2.4rem;
          top: 0.6rem;
          background-color: #d9d9d9;
          width: 38.3rem;
          height: 5.8rem;
        }
        .ellipse-6-bo6 {
          height: 7rem;
          position: absolute;
          left: 0;
          top: 0;
          background-color: #9747ff;
          border-radius: 3.5rem;
          width: 7rem;
        }
        .henry-7WY {
          top: 2rem;
          font-size: 2rem;
          font-weight: 600;
          line-height: 1.5;
          letter-spacing: -0.022rem;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 6.5rem;
          height: 3rem;
          position: absolute;
          left: 9.2rem;
          color: #000000;
        }
      }
      .frame-33-Azc {
        width: 100%;
        height: 7rem;
        position: relative;
        flex-shrink: 0;

        .rectangle-25-8Ak {
          position: absolute;
          left: 2.4rem;
          top: 0.6rem;
          background-color: #d9d9d9;
          width: 38.3rem;
          height: 5.8rem;
        }
        .ellipse-6-G24 {
          background-color: #9747ff;
          border-radius: 3.5rem;
          width: 7rem;
          height: 7rem;
          position: absolute;
          left: 0;
          top: 0;
        }
        .henry-DCC {
          width: 6.5rem;
          height: 3rem;
          font-size: 2rem;
          font-weight: 600;
          letter-spacing: -0.022rem;
          color: #000000;
          position: absolute;
          left: 9.2rem;
          top: 2rem;
          line-height: 1.5;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .frame-34-nuW {
        width: 100%;
        height: 7rem;
        position: relative;
        flex-shrink: 0;

        .rectangle-25-8yN {
          position: absolute;
          left: 2.4rem;
          top: 0.6rem;
          background-color: #d9d9d9;
          width: 38.3rem;
          height: 5.8rem;
        }
        .ellipse-6-UnL {
          left: 0;
          top: 0;
          background-color: #9747ff;
          border-radius: 3.5rem;
          width: 7rem;
          height: 7rem;
          position: absolute;
        }
        .henry-RSg {
          height: 3rem;
          left: 9.2rem;
          font-size: 2rem;
          letter-spacing: -0.022rem;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          width: 6.5rem;
          position: absolute;
          top: 2rem;
          font-weight: 600;
          line-height: 1.5;
          white-space: nowrap;
        }
      }
      .frame-25-veL {
        width: 100%;
        height: 7rem;
        position: relative;
        flex-shrink: 0;

        .rectangle-25-Ufr {
          background-color: #d9d9d9;
          width: 38.3rem;
          height: 5.8rem;
          position: absolute;
          left: 2.4rem;
          top: 0.6rem;
        }
        .ellipse-6-19z {
          background-color: #9747ff;
          border-radius: 3.5rem;
          width: 7rem;
          height: 7rem;
          position: absolute;
          left: 0;
          top: 0;
        }
        .henry-9mz {
          width: 6.5rem;
          position: absolute;
          left: 9.2rem;
          font-weight: 600;
          line-height: 1.5;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          height: 3rem;
          top: 2rem;
          font-size: 2rem;
          letter-spacing: -0.022rem;
          white-space: nowrap;
        }
      }
    }
    .auto-group-cbwk-4e4 {
      flex-shrink: 0;
      margin-bottom: 1.8rem;
      width: 2.2rem;
      height: 56.2rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
    }
  }
}
