
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.frame-55-SFS {
  width: 100%;
  height: 99.8rem;

  .group-2-zXr {
    height: 100%;
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0.9rem 0rem 0.9rem 2.6rem;
    width: 100%;

    .nctuemblem-2-XXn {
      margin-right: 3.1rem;
      width: 9.5rem;
      height: 9.5rem;
      cursor: pointer;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .auto-group-ft9m-fP6 {
      flex-shrink: 0;
      margin: 16.3rem 7.9rem 0rem 0rem;
      width: 71.9rem;
      align-items: center;
      display: flex;
      flex-direction: column;

      .auto-group-gv3m-PK6 {
        margin: 0rem 3.2rem 2.4rem 0rem;
        text-align: center;
        font-size: 5.4rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-top: 0.2rem;
        font-weight: 600;
        line-height: 1.5;
        letter-spacing: -0.0594rem;
        color: #000000;
      }
      .let-if-has-a-local-maximum-or-minimum-at-then-has-a-local-maximum-or-minimum-at-so-by-fermats-theorem-see-theorem-314-but-see-equation-1131-and-so-similarly-by-applying-fermats-theorem-to-the-function-we-obtain-if-we-put-and-in-the-equation-of-a-tangent-plane-equation-1142-we-get-thus-the-geometric-interpretation-of-theorem-2-is-that-if-the-graph-of-has-a-tangent-plane-at-a-local-maximum-or-minimum-then-the-tangent-plane-must-be-horizontal-a-point-is-called-a-critical-point-or-stationary-point-of-if-and-or-if-one-of-these-partial-derivatives-does-not-exist-theorem-2-says-that-if-has-a-local-maximum-or-minimum-at-then-is-a-critical-point-of-however-as-in-single-variable-calculus-not-all-critical-points-give-rise-to-maxima-or-minima-at-a-critical-point-a-function-could-have-a-local-maximum-or-a-local-minimum-or-neither-example-2-illustrates-the-fact-that-a-function-need-not-have-a-maximum-or-minimum-value-at-a-critical-point-figure-3-shows-how-this-is-possible-the-graph-of-is-the-hyperbolic-paraboloid-which-has-a-horizontal-tangent-plane-at-the-origin-you-can-see-that-is-a-maximum-in-the-direction-of-the-axis-but-a-minimum-in-the-direction-of-the-axis-near-the-origin-the-graph-has-the-shape-of-a-saddle-and-so-is-called-a-saddle-point-of-we-need-to-be-able-to-determine-whether-or-not-a-function-has-an-Gtg {
        margin-bottom: 2.6rem;
        max-width: 71.9rem;
        font-weight: 600;
        flex-shrink: 0;
        text-align: center;
        font-size: 1.8rem;
        line-height: 1.5;
        letter-spacing: -0.0198rem;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
      }
      .auto-group-u3tf-oJG {
        margin: 0rem 4.2rem 0rem 3.7rem;
        width: calc(100% - 7.9rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .s63651851-3-vtg {
          margin: 0.4rem 8.2rem 0rem 0rem;
          width: 31.3rem;
          height: 18.9rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .c8766f-2446-4acd-8480-769b0933b026-3-eJt {
          margin-bottom: 0.4rem;
          width: 24.5rem;
          height: 18.9rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
    .auto-group-j7nj-Mj6 {
      flex-shrink: 0;
      margin-top: 14.6rem;
      width: 49rem;

      .whos-the-member--6wa {
        line-height: 1.5;
        letter-spacing: -0.0253rem;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 0.6rem 3.6rem;
        font-size: 2.3rem;
        font-weight: 600;
      }
      .frame-38-c9E {
        width: 100%;
        height: 62.7rem;
        position: relative;
        padding: 1.3rem 1rem 0rem 1.8rem;
        box-sizing: border-box;
        overflow: hidden;
        display: flex;
        align-items: flex-start;
        background-color: #ffffff;
        margin-bottom: 3.2rem;

        .frame-28-7rg {
          flex-direction: column;
          flex-shrink: 0;
          margin-right: 1.3rem;
          width: 40.7rem;
          height: 122.7rem;
          row-gap: 1.9rem;
          align-items: center;
          display: flex;

          .frame-21-cYY {
            width: 100%;
            height: 7rem;
            position: relative;
            flex-shrink: 0;

            .rectangle-25-Zig {
              height: 5.8rem;
              position: absolute;
              left: 2.4rem;
              top: 0.6rem;
              background-color: #d9d9d9;
              width: 38.3rem;
            }
            .ellipse-6-6Ti {
              width: 7rem;
              height: 7rem;
              position: absolute;
              left: 0;
              top: 0;
              background-color: #9747ff;
              border-radius: 3.5rem;
            }
            .henry-F5i {
              position: absolute;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              width: 6.5rem;
              height: 3rem;
              left: 9.2rem;
              top: 2rem;
              font-size: 2rem;
              font-weight: 600;
              line-height: 1.5;
              letter-spacing: -0.022rem;
            }
          }
          .frame-22-koA {
            width: 100%;
            height: 7rem;
            position: relative;
            flex-shrink: 0;

            .rectangle-25-iV6 {
              width: 38.3rem;
              height: 5.8rem;
              position: absolute;
              left: 2.4rem;
              top: 0.6rem;
              background-color: #d9d9d9;
            }
            .ellipse-6-etY {
              background-color: #9747ff;
              border-radius: 3.5rem;
              width: 7rem;
              height: 7rem;
              position: absolute;
              left: 0;
              top: 0;
            }
            .henry-omS {
              width: 6.5rem;
              position: absolute;
              left: 9.2rem;
              top: 2rem;
              font-size: 2rem;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              height: 3rem;
              font-weight: 600;
              line-height: 1.5;
              letter-spacing: -0.022rem;
              white-space: nowrap;
            }
          }
          .frame-23-vLG {
            flex-shrink: 0;
            width: 100%;
            height: 7rem;
            position: relative;

            .rectangle-25-Usa {
              top: 0.6rem;
              background-color: #d9d9d9;
              width: 38.3rem;
              height: 5.8rem;
              position: absolute;
              left: 2.4rem;
            }
            .ellipse-6-RH2 {
              height: 7rem;
              position: absolute;
              left: 0;
              top: 0;
              background-color: #9747ff;
              border-radius: 3.5rem;
              width: 7rem;
            }
            .henry-Ze8 {
              width: 6.5rem;
              height: 3rem;
              position: absolute;
              top: 2rem;
              font-weight: 600;
              color: #000000;
              white-space: nowrap;
              left: 9.2rem;
              font-size: 2rem;
              line-height: 1.5;
              letter-spacing: -0.022rem;
              font-family: Inter, 'Source Sans Pro';
            }
          }
          .frame-24-H4L {
            flex-shrink: 0;
            width: 100%;
            height: 7rem;
            position: relative;

            .rectangle-25-Dya {
              height: 5.8rem;
              position: absolute;
              left: 2.4rem;
              top: 0.6rem;
              background-color: #d9d9d9;
              width: 38.3rem;
            }
            .ellipse-6-N5n {
              position: absolute;
              left: 0;
              top: 0;
              background-color: #9747ff;
              border-radius: 3.5rem;
              width: 7rem;
              height: 7rem;
            }
            .henry-K12 {
              top: 2rem;
              font-size: 2rem;
              line-height: 1.5;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              position: absolute;
              height: 3rem;
              left: 9.2rem;
              font-weight: 600;
              letter-spacing: -0.022rem;
              width: 6.5rem;
            }
          }
          .frame-26-d1i {
            width: 100%;
            height: 7rem;
            position: relative;
            flex-shrink: 0;

            .rectangle-25-PFn {
              position: absolute;
              left: 2.4rem;
              top: 0.6rem;
              background-color: #d9d9d9;
              width: 38.3rem;
              height: 5.8rem;
            }
            .ellipse-6-iYx {
              height: 7rem;
              position: absolute;
              left: 0;
              top: 0;
              background-color: #9747ff;
              border-radius: 3.5rem;
              width: 7rem;
            }
            .henry-fDJ {
              height: 3rem;
              left: 9.2rem;
              top: 2rem;
              letter-spacing: -0.022rem;
              color: #000000;
              white-space: nowrap;
              width: 6.5rem;
              position: absolute;
              font-size: 2rem;
              font-weight: 600;
              line-height: 1.5;
              font-family: Inter, 'Source Sans Pro';
            }
          }
          .frame-27-m1S {
            position: relative;
            flex-shrink: 0;
            width: 100%;
            height: 7rem;

            .rectangle-25-iSU {
              top: 0.6rem;
              background-color: #d9d9d9;
              width: 38.3rem;
              height: 5.8rem;
              position: absolute;
              left: 2.4rem;
            }
            .ellipse-6-rYg {
              position: absolute;
              left: 0;
              top: 0;
              background-color: #9747ff;
              border-radius: 3.5rem;
              width: 7rem;
              height: 7rem;
            }
            .henry-QKJ {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              width: 6.5rem;
              height: 3rem;
              position: absolute;
              left: 9.2rem;
              line-height: 1.5;
              letter-spacing: -0.022rem;
              top: 2rem;
              font-size: 2rem;
              font-weight: 600;
              color: #000000;
            }
          }
          .frame-28-7zQ {
            width: 100%;
            height: 7rem;
            position: relative;
            flex-shrink: 0;

            .rectangle-25-g1v {
              top: 0.6rem;
              background-color: #d9d9d9;
              width: 38.3rem;
              height: 5.8rem;
              position: absolute;
              left: 2.4rem;
            }
            .ellipse-6-p88 {
              left: 0;
              top: 0;
              background-color: #9747ff;
              border-radius: 3.5rem;
              width: 7rem;
              height: 7rem;
              position: absolute;
            }
            .henry-ZrQ {
              top: 2rem;
              font-size: 2rem;
              font-weight: 600;
              line-height: 1.5;
              color: #000000;
              white-space: nowrap;
              width: 6.5rem;
              position: absolute;
              letter-spacing: -0.022rem;
              font-family: Inter, 'Source Sans Pro';
              height: 3rem;
              left: 9.2rem;
            }
          }
          .frame-29-HXW {
            width: 100%;
            height: 7rem;
            position: relative;
            flex-shrink: 0;

            .rectangle-25-SvC {
              height: 5.8rem;
              position: absolute;
              left: 2.4rem;
              top: 0.6rem;
              background-color: #d9d9d9;
              width: 38.3rem;
            }
            .ellipse-6-nUG {
              position: absolute;
              left: 0;
              top: 0;
              background-color: #9747ff;
              border-radius: 3.5rem;
              width: 7rem;
              height: 7rem;
            }
            .henry-jPW {
              position: absolute;
              left: 9.2rem;
              font-size: 2rem;
              font-weight: 600;
              line-height: 1.5;
              letter-spacing: -0.022rem;
              white-space: nowrap;
              width: 6.5rem;
              height: 3rem;
              top: 2rem;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
            }
          }
          .frame-30-3f6 {
            width: 100%;
            height: 7rem;
            position: relative;
            flex-shrink: 0;

            .rectangle-25-D3n {
              width: 38.3rem;
              height: 5.8rem;
              position: absolute;
              left: 2.4rem;
              top: 0.6rem;
              background-color: #d9d9d9;
            }
            .ellipse-6-9TE {
              left: 0;
              top: 0;
              background-color: #9747ff;
              border-radius: 3.5rem;
              width: 7rem;
              height: 7rem;
              position: absolute;
            }
            .henry-tvc {
              left: 9.2rem;
              font-weight: 600;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              width: 6.5rem;
              height: 3rem;
              font-size: 2rem;
              line-height: 1.5;
              letter-spacing: -0.022rem;
              white-space: nowrap;
              position: absolute;
              top: 2rem;
            }
          }
          .frame-31-ong {
            width: 100%;
            height: 7rem;
            position: relative;
            flex-shrink: 0;

            .rectangle-25-yBN {
              left: 2.4rem;
              top: 0.6rem;
              background-color: #d9d9d9;
              width: 38.3rem;
              height: 5.8rem;
              position: absolute;
            }
            .ellipse-6-JjS {
              width: 7rem;
              height: 7rem;
              position: absolute;
              left: 0;
              top: 0;
              background-color: #9747ff;
              border-radius: 3.5rem;
            }
            .henry-dmi {
              width: 6.5rem;
              height: 3rem;
              position: absolute;
              left: 9.2rem;
              font-size: 2rem;
              font-family: Inter, 'Source Sans Pro';
              top: 2rem;
              font-weight: 600;
              line-height: 1.5;
              letter-spacing: -0.022rem;
              color: #000000;
              white-space: nowrap;
            }
          }
          .frame-32-k5e {
            width: 100%;
            height: 7rem;
            position: relative;
            flex-shrink: 0;

            .rectangle-25-hWg {
              position: absolute;
              left: 2.4rem;
              top: 0.6rem;
              background-color: #d9d9d9;
              width: 38.3rem;
              height: 5.8rem;
            }
            .ellipse-6-RxU {
              border-radius: 3.5rem;
              width: 7rem;
              height: 7rem;
              position: absolute;
              left: 0;
              top: 0;
              background-color: #9747ff;
            }
            .henry-mmS {
              letter-spacing: -0.022rem;
              color: #000000;
              white-space: nowrap;
              height: 3rem;
              position: absolute;
              top: 2rem;
              font-weight: 600;
              line-height: 1.5;
              width: 6.5rem;
              left: 9.2rem;
              font-size: 2rem;
              font-family: Inter, 'Source Sans Pro';
            }
          }
          .frame-33-Uvk {
            height: 7rem;
            position: relative;
            flex-shrink: 0;
            width: 100%;

            .rectangle-25-Euv {
              width: 38.3rem;
              height: 5.8rem;
              position: absolute;
              left: 2.4rem;
              top: 0.6rem;
              background-color: #d9d9d9;
            }
            .ellipse-6-nRe {
              width: 7rem;
              height: 7rem;
              position: absolute;
              left: 0;
              top: 0;
              background-color: #9747ff;
              border-radius: 3.5rem;
            }
            .henry-j5z {
              font-weight: 600;
              line-height: 1.5;
              letter-spacing: -0.022rem;
              color: #000000;
              white-space: nowrap;
              position: absolute;
              top: 2rem;
              left: 9.2rem;
              font-size: 2rem;
              font-family: Inter, 'Source Sans Pro';
              width: 6.5rem;
              height: 3rem;
            }
          }
          .frame-34-3Ma {
            flex-shrink: 0;
            width: 100%;
            height: 7rem;
            position: relative;

            .rectangle-25-obe {
              background-color: #d9d9d9;
              width: 38.3rem;
              height: 5.8rem;
              position: absolute;
              left: 2.4rem;
              top: 0.6rem;
            }
            .ellipse-6-9fW {
              width: 7rem;
              height: 7rem;
              position: absolute;
              left: 0;
              top: 0;
              background-color: #9747ff;
              border-radius: 3.5rem;
            }
            .henry-u8t {
              position: absolute;
              left: 9.2rem;
              line-height: 1.5;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              width: 6.5rem;
              top: 2rem;
              font-size: 2rem;
              font-weight: 600;
              letter-spacing: -0.022rem;
              white-space: nowrap;
              height: 3rem;
            }
          }
          .frame-25-pWk {
            width: 100%;
            height: 7rem;
            position: relative;
            flex-shrink: 0;

            .rectangle-25-yeY {
              height: 5.8rem;
              position: absolute;
              left: 2.4rem;
              top: 0.6rem;
              background-color: #d9d9d9;
              width: 38.3rem;
            }
            .ellipse-6-81e {
              left: 0;
              top: 0;
              background-color: #9747ff;
              border-radius: 3.5rem;
              width: 7rem;
              height: 7rem;
              position: absolute;
            }
            .henry-sE8 {
              letter-spacing: -0.022rem;
              left: 9.2rem;
              top: 2rem;
              line-height: 1.5;
              font-size: 2rem;
              font-weight: 600;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              width: 6.5rem;
              height: 3rem;
              position: absolute;
            }
          }
        }
        .auto-group-8zsx-aPS {
          vertical-align: top;
          flex-shrink: 0;
          margin-top: 1.5rem;
          width: 4.2rem;
          height: 56.6rem;
          position: relative;
          object-fit: contain;
        }
      }
      .frame-41-W2C {
        margin: 0rem 4.8rem 0rem 2.5rem;
        cursor: pointer;
        overflow: hidden;
        letter-spacing: -0.033rem;
        background-color: #ffa629;
        text-align: center;
        line-height: 1.5;
        color: #000000;
        white-space: nowrap;
        border-radius: 2rem;
        width: calc(100% - 7.3rem);
        height: 10.1rem;
        font-size: 3rem;
        font-weight: 600;
        font-family: Inter, 'Source Sans Pro';
        align-items: center;
        position: relative;
        display: flex;
        justify-content: center;
      }
    }
  }
}
