
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 45.7rem;
}.frame-39-AC8 {
  border-radius: 0.5rem;
  padding: 2rem 2rem 38.7rem 2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  border: dashed 0.1rem #f5f5f5;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  .property-1default-gRN {
    font-family: Inter, 'Source Sans Pro';
    justify-content: center;
    flex-shrink: 0;
    line-height: 1.5;
    text-align: center;
    letter-spacing: -0.033rem;
    white-space: nowrap;
    margin-bottom: 2rem;
    overflow: hidden;
    position: relative;
    font-weight: 600;
    align-items: center;
    width: 100%;
    cursor: pointer;
    font-size: 3rem;
    color: #000000;
    display: flex;
    background-color: #ffa629;
    border-radius: 2rem;
    height: 10.1rem;
  }
  .property-1variant2-Xwn {
    width: 100%;
    cursor: pointer;
    border-radius: 2rem;
    flex-shrink: 0;
    box-sizing: border-box;
    height: 14.5rem;
    overflow: hidden;
    position: relative;
    background-color: #ffa629;
    padding: 3.8rem 3.4rem 5.3rem 3.4rem;

    .joint-successfully-right-now-you-can-follow-your-event-through-the-event-board-on-the-right-3v8 {
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      max-width: 34.9rem;
      text-align: center;
      font-size: 1.2rem;
      font-weight: 600;
      line-height: 1.5;
      letter-spacing: -0.0132rem;

      .joint-successfully-right-now-you-can-follow-your-event-through-the-event-board-on-the-right-3v8-sub-0 {
        font-size: 2.5rem;
        font-weight: 600;
        line-height: 0.72;
        letter-spacing: -0.0132rem;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
      }
      .joint-successfully-right-now-you-can-follow-your-event-through-the-event-board-on-the-right-3v8-sub-1 {
      }
    }
  }
}
