
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.frame-57-712 {
  width: 100%;
  height: 99.8rem;

  .group-4-f2Y {
    box-sizing: border-box;
    padding: 0.9rem 0rem 0.9rem 2.6rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;

    .nctuemblem-4-afJ {
      margin-right: 3.1rem;
      width: 9.5rem;
      height: 9.5rem;
      cursor: pointer;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .auto-group-ga9h-WJ4 {
      margin: 16.3rem 7.9rem 0rem 0rem;
      width: 71.9rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-dfwj-DyA {
        margin: 0rem 3.2rem 2.4rem 0rem;
        box-sizing: border-box;
        text-align: center;
        font-size: 5.4rem;
        line-height: 1.5;
        letter-spacing: -0.0594rem;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        padding-top: 0.2rem;
        font-weight: 600;
        color: #000000;
        white-space: nowrap;
      }
      .let-if-has-a-local-maximum-or-minimum-at-then-has-a-local-maximum-or-minimum-at-so-by-fermats-theorem-see-theorem-314-but-see-equation-1131-and-so-similarly-by-applying-fermats-theorem-to-the-function-we-obtain-if-we-put-and-in-the-equation-of-a-tangent-plane-equation-1142-we-get-thus-the-geometric-interpretation-of-theorem-2-is-that-if-the-graph-of-has-a-tangent-plane-at-a-local-maximum-or-minimum-then-the-tangent-plane-must-be-horizontal-a-point-is-called-a-critical-point-or-stationary-point-of-if-and-or-if-one-of-these-partial-derivatives-does-not-exist-theorem-2-says-that-if-has-a-local-maximum-or-minimum-at-then-is-a-critical-point-of-however-as-in-single-variable-calculus-not-all-critical-points-give-rise-to-maxima-or-minima-at-a-critical-point-a-function-could-have-a-local-maximum-or-a-local-minimum-or-neither-example-2-illustrates-the-fact-that-a-function-need-not-have-a-maximum-or-minimum-value-at-a-critical-point-figure-3-shows-how-this-is-possible-the-graph-of-is-the-hyperbolic-paraboloid-which-has-a-horizontal-tangent-plane-at-the-origin-you-can-see-that-is-a-maximum-in-the-direction-of-the-axis-but-a-minimum-in-the-direction-of-the-axis-near-the-origin-the-graph-has-the-shape-of-a-saddle-and-so-is-called-a-saddle-point-of-we-need-to-be-able-to-determine-whether-or-not-a-function-has-an-ub6 {
        text-align: center;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.5;
        font-family: Inter, 'Source Sans Pro';
        margin-bottom: 2.6rem;
        max-width: 71.9rem;
        flex-shrink: 0;
        letter-spacing: -0.0198rem;
        color: #000000;
      }
      .auto-group-8eys-Eoi {
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 4.2rem 0rem 3.7rem;
        width: calc(100% - 7.9rem);
        display: flex;

        .s63651851-5-AhN {
          width: 31.3rem;
          height: 18.9rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.4rem 8.2rem 0rem 0rem;
        }
        .c8766f-2446-4acd-8480-769b0933b026-5-f8L {
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 0.4rem;
          width: 24.5rem;
          height: 18.9rem;
        }
      }
    }
    .auto-group-yhx9-ZjW {
      margin-top: 14.6rem;
      width: 49rem;
      flex-shrink: 0;

      .whos-the-member--6zL {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 0.6rem 3.6rem;
        font-size: 2.3rem;
        font-weight: 600;
        line-height: 1.5;
        letter-spacing: -0.0253rem;
        color: #000000;
      }
      .frame-44-cBz {
        box-sizing: border-box;
        overflow: hidden;
        display: flex;
        background-color: #ffffff;
        margin-bottom: 3rem;
        padding: 1.3rem 1rem 0rem 1.8rem;
        width: 100%;
        height: 62.7rem;
        position: relative;
        align-items: flex-start;

        .frame-28-XJx {
          width: 40.7rem;
          height: 122.7rem;
          row-gap: 1.9rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-right: 1.3rem;

          .frame-21-DxU {
            position: relative;
            flex-shrink: 0;
            width: 100%;
            height: 7rem;

            .rectangle-25-ygk {
              width: 38.3rem;
              height: 5.8rem;
              position: absolute;
              left: 2.4rem;
              top: 0.6rem;
              background-color: #d9d9d9;
            }
            .ellipse-6-WRn {
              width: 7rem;
              height: 7rem;
              position: absolute;
              left: 0;
              top: 0;
              background-color: #9747ff;
              border-radius: 3.5rem;
            }
            .henry-EMn {
              letter-spacing: -0.022rem;
              color: #000000;
              width: 6.5rem;
              font-weight: 600;
              line-height: 1.5;
              top: 2rem;
              font-size: 2rem;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              height: 3rem;
              position: absolute;
              left: 9.2rem;
            }
          }
          .frame-22-jZS {
            width: 100%;
            height: 7rem;
            position: relative;
            flex-shrink: 0;

            .rectangle-25-gja {
              width: 38.3rem;
              height: 5.8rem;
              position: absolute;
              left: 2.4rem;
              top: 0.6rem;
              background-color: #d9d9d9;
            }
            .ellipse-6-pqn {
              top: 0;
              background-color: #9747ff;
              border-radius: 3.5rem;
              width: 7rem;
              height: 7rem;
              position: absolute;
              left: 0;
            }
            .henry-NMW {
              left: 9.2rem;
              top: 2rem;
              font-size: 2rem;
              letter-spacing: -0.022rem;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              position: absolute;
              height: 3rem;
              font-weight: 600;
              line-height: 1.5;
              white-space: nowrap;
              width: 6.5rem;
            }
          }
          .frame-23-U9e {
            position: relative;
            flex-shrink: 0;
            width: 100%;
            height: 7rem;

            .rectangle-25-pjJ {
              width: 38.3rem;
              height: 5.8rem;
              position: absolute;
              left: 2.4rem;
              top: 0.6rem;
              background-color: #d9d9d9;
            }
            .ellipse-6-ZRz {
              width: 7rem;
              height: 7rem;
              position: absolute;
              left: 0;
              top: 0;
              background-color: #9747ff;
              border-radius: 3.5rem;
            }
            .henry-i3z {
              top: 2rem;
              font-weight: 600;
              line-height: 1.5;
              letter-spacing: -0.022rem;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              height: 3rem;
              position: absolute;
              left: 9.2rem;
              font-size: 2rem;
              color: #000000;
              width: 6.5rem;
            }
          }
          .frame-24-DWY {
            width: 100%;
            height: 7rem;
            position: relative;
            flex-shrink: 0;

            .rectangle-25-Mse {
              left: 2.4rem;
              top: 0.6rem;
              background-color: #d9d9d9;
              width: 38.3rem;
              height: 5.8rem;
              position: absolute;
            }
            .ellipse-6-Vix {
              width: 7rem;
              height: 7rem;
              position: absolute;
              left: 0;
              top: 0;
              background-color: #9747ff;
              border-radius: 3.5rem;
            }
            .henry-EwS {
              width: 6.5rem;
              height: 3rem;
              position: absolute;
              left: 9.2rem;
              font-size: 2rem;
              color: #000000;
              top: 2rem;
              font-weight: 600;
              line-height: 1.5;
              letter-spacing: -0.022rem;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .frame-26-9Yc {
            width: 100%;
            height: 7rem;
            position: relative;
            flex-shrink: 0;

            .rectangle-25-WPA {
              top: 0.6rem;
              background-color: #d9d9d9;
              width: 38.3rem;
              height: 5.8rem;
              position: absolute;
              left: 2.4rem;
            }
            .ellipse-6-3P6 {
              left: 0;
              top: 0;
              background-color: #9747ff;
              border-radius: 3.5rem;
              width: 7rem;
              height: 7rem;
              position: absolute;
            }
            .henry-adv {
              font-weight: 600;
              color: #000000;
              left: 9.2rem;
              top: 2rem;
              font-size: 2rem;
              line-height: 1.5;
              letter-spacing: -0.022rem;
              width: 6.5rem;
              height: 3rem;
              position: absolute;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .frame-27-VF6 {
            width: 100%;
            height: 7rem;
            position: relative;
            flex-shrink: 0;

            .rectangle-25-eNt {
              width: 38.3rem;
              height: 5.8rem;
              position: absolute;
              left: 2.4rem;
              top: 0.6rem;
              background-color: #d9d9d9;
            }
            .ellipse-6-miQ {
              width: 7rem;
              height: 7rem;
              position: absolute;
              left: 0;
              top: 0;
              background-color: #9747ff;
              border-radius: 3.5rem;
            }
            .henry-Wvt {
              width: 6.5rem;
              height: 3rem;
              line-height: 1.5;
              letter-spacing: -0.022rem;
              color: #000000;
              white-space: nowrap;
              position: absolute;
              left: 9.2rem;
              top: 2rem;
              font-size: 2rem;
              font-weight: 600;
              font-family: Inter, 'Source Sans Pro';
            }
          }
          .frame-28-qCU {
            width: 100%;
            height: 7rem;
            position: relative;
            flex-shrink: 0;

            .rectangle-25-bSY {
              position: absolute;
              left: 2.4rem;
              top: 0.6rem;
              background-color: #d9d9d9;
              width: 38.3rem;
              height: 5.8rem;
            }
            .ellipse-6-8hN {
              width: 7rem;
              height: 7rem;
              position: absolute;
              left: 0;
              top: 0;
              background-color: #9747ff;
              border-radius: 3.5rem;
            }
            .henry-56p {
              width: 6.5rem;
              position: absolute;
              top: 2rem;
              white-space: nowrap;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              height: 3rem;
              left: 9.2rem;
              font-size: 2rem;
              font-weight: 600;
              line-height: 1.5;
              letter-spacing: -0.022rem;
            }
          }
          .frame-29-PNQ {
            width: 100%;
            height: 7rem;
            position: relative;
            flex-shrink: 0;

            .rectangle-25-wui {
              position: absolute;
              left: 2.4rem;
              top: 0.6rem;
              background-color: #d9d9d9;
              width: 38.3rem;
              height: 5.8rem;
            }
            .ellipse-6-VRS {
              left: 0;
              top: 0;
              background-color: #9747ff;
              border-radius: 3.5rem;
              width: 7rem;
              height: 7rem;
              position: absolute;
            }
            .henry-Edv {
              height: 3rem;
              position: absolute;
              top: 2rem;
              font-weight: 600;
              white-space: nowrap;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              width: 6.5rem;
              left: 9.2rem;
              font-size: 2rem;
              line-height: 1.5;
              letter-spacing: -0.022rem;
            }
          }
          .frame-30-wYL {
            height: 7rem;
            position: relative;
            flex-shrink: 0;
            width: 100%;

            .rectangle-25-VZr {
              width: 38.3rem;
              height: 5.8rem;
              position: absolute;
              left: 2.4rem;
              top: 0.6rem;
              background-color: #d9d9d9;
            }
            .ellipse-6-2Zn {
              position: absolute;
              left: 0;
              top: 0;
              background-color: #9747ff;
              border-radius: 3.5rem;
              width: 7rem;
              height: 7rem;
            }
            .henry-yV2 {
              line-height: 1.5;
              letter-spacing: -0.022rem;
              color: #000000;
              white-space: nowrap;
              height: 3rem;
              position: absolute;
              top: 2rem;
              font-weight: 600;
              font-family: Inter, 'Source Sans Pro';
              width: 6.5rem;
              left: 9.2rem;
              font-size: 2rem;
            }
          }
          .frame-31-63r {
            width: 100%;
            height: 7rem;
            position: relative;
            flex-shrink: 0;

            .rectangle-25-ebA {
              position: absolute;
              left: 2.4rem;
              top: 0.6rem;
              background-color: #d9d9d9;
              width: 38.3rem;
              height: 5.8rem;
            }
            .ellipse-6-azc {
              width: 7rem;
              height: 7rem;
              position: absolute;
              left: 0;
              top: 0;
              background-color: #9747ff;
              border-radius: 3.5rem;
            }
            .henry-X9A {
              left: 9.2rem;
              font-size: 2rem;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              width: 6.5rem;
              position: absolute;
              font-weight: 600;
              line-height: 1.5;
              letter-spacing: -0.022rem;
              white-space: nowrap;
              height: 3rem;
              top: 2rem;
            }
          }
          .frame-32-S1E {
            height: 7rem;
            position: relative;
            flex-shrink: 0;
            width: 100%;

            .rectangle-25-PSG {
              position: absolute;
              left: 2.4rem;
              top: 0.6rem;
              background-color: #d9d9d9;
              width: 38.3rem;
              height: 5.8rem;
            }
            .ellipse-6-7t4 {
              width: 7rem;
              height: 7rem;
              position: absolute;
              left: 0;
              top: 0;
              background-color: #9747ff;
              border-radius: 3.5rem;
            }
            .henry-Th2 {
              height: 3rem;
              font-weight: 600;
              line-height: 1.5;
              letter-spacing: -0.022rem;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              width: 6.5rem;
              position: absolute;
              left: 9.2rem;
              top: 2rem;
              font-size: 2rem;
              white-space: nowrap;
            }
          }
          .frame-33-NZ6 {
            width: 100%;
            height: 7rem;
            position: relative;
            flex-shrink: 0;

            .rectangle-25-8HN {
              width: 38.3rem;
              height: 5.8rem;
              position: absolute;
              left: 2.4rem;
              top: 0.6rem;
              background-color: #d9d9d9;
            }
            .ellipse-6-rjA {
              width: 7rem;
              height: 7rem;
              position: absolute;
              left: 0;
              top: 0;
              background-color: #9747ff;
              border-radius: 3.5rem;
            }
            .henry-oeQ {
              width: 6.5rem;
              left: 9.2rem;
              top: 2rem;
              font-size: 2rem;
              line-height: 1.5;
              color: #000000;
              height: 3rem;
              position: absolute;
              font-weight: 600;
              letter-spacing: -0.022rem;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .frame-34-j2G {
            width: 100%;
            height: 7rem;
            position: relative;
            flex-shrink: 0;

            .rectangle-25-VGL {
              width: 38.3rem;
              height: 5.8rem;
              position: absolute;
              left: 2.4rem;
              top: 0.6rem;
              background-color: #d9d9d9;
            }
            .ellipse-6-dtL {
              width: 7rem;
              height: 7rem;
              position: absolute;
              left: 0;
              top: 0;
              background-color: #9747ff;
              border-radius: 3.5rem;
            }
            .henry-Bex {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              height: 3rem;
              position: absolute;
              top: 2rem;
              font-size: 2rem;
              letter-spacing: -0.022rem;
              width: 6.5rem;
              left: 9.2rem;
              font-weight: 600;
              line-height: 1.5;
              color: #000000;
            }
          }
          .frame-25-VvY {
            position: relative;
            flex-shrink: 0;
            width: 100%;
            height: 7rem;

            .rectangle-25-eoS {
              top: 0.6rem;
              background-color: #d9d9d9;
              width: 38.3rem;
              height: 5.8rem;
              position: absolute;
              left: 2.4rem;
            }
            .ellipse-6-Pm2 {
              position: absolute;
              left: 0;
              top: 0;
              background-color: #9747ff;
              border-radius: 3.5rem;
              width: 7rem;
              height: 7rem;
            }
            .henry-8yW {
              left: 9.2rem;
              font-size: 2rem;
              font-family: Inter, 'Source Sans Pro';
              width: 6.5rem;
              position: absolute;
              font-weight: 600;
              line-height: 1.5;
              letter-spacing: -0.022rem;
              color: #000000;
              white-space: nowrap;
              height: 3rem;
              top: 2rem;
            }
          }
        }
        .auto-group-ky1y-FHS {
          width: 4.2rem;
          height: 56.6rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-top: 1.5rem;
        }
      }
      .frame-39-mFn {
        display: flex;
        border-radius: 2rem;
        margin: 0rem 3.4rem 0rem 3.9rem;
        overflow: hidden;
        position: relative;
        font-weight: 600;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        height: 10.1rem;
        text-align: center;
        font-size: 3rem;
        color: #000000;
        justify-content: center;
        background-color: #ffa629;
        width: calc(100% - 7.3rem);
        cursor: pointer;
        line-height: 1.5;
        letter-spacing: -0.033rem;
        align-items: center;
      }
    }
  }
}
