
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.more-detail-at8 {
  align-items: flex-end;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 0.9rem 2.2rem 0.9rem 2.6rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;

  .auto-group-mqrh-54C {
    margin: 0rem 7.9rem 1.9rem 0rem;
    width: 20.6rem;
    flex-shrink: 0;

    .nctuemblem-1-zgx {
      margin-bottom: 4.3rem;
      width: 9.5rem;
      height: 9.5rem;
      cursor: pointer;
      object-fit: cover;
      vertical-align: top;
    }
    .component-1-XRz {
      background-color: #f5f5f5;
      box-sizing: border-box;
      padding: 2.1rem 1.9rem 2.2rem 2rem;
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;

      .cooking-2-Sor {
        margin: 0rem 0rem 3.4rem 0.6rem;
        width: 11.3rem;
        height: 11.7rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .yoga-1-ZtU {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 1.2rem 5.8rem 0rem;
        width: 10.5rem;
        height: 10.5rem;
      }
      .restaurant-1-6Nc {
        height: 8.8rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 1.7rem 5.8rem 0rem;
        width: 10rem;
      }
      .video-1-DCL {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 1.3rem 3.4rem 0rem;
        width: 9.8rem;
        height: 10.4rem;
        object-fit: cover;
      }
      .guitar-1-jRa {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0rem 5rem 0.1rem;
        width: 11.8rem;
        height: 13.1rem;
      }
      .next-Fui {
        width: 16.7rem;
        height: 3.8rem;
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
  .auto-group-ybfh-BoN {
    margin: 0rem 5.1rem 3.8rem 0rem;
    display: grid;
    grid-template-columns: repeat(2, 42.1196rem);
    grid-auto-rows: 14.1214rem;
    flex-shrink: 0;

    .frame-38-FoE {
      display: flex;
      align-items: center;

      .others-requirement--1nQ {
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 1.2rem;
        text-align: center;
        line-height: 1.5;
        letter-spacing: -0.033rem;
        font-family: Inter, 'Source Sans Pro';
        font-size: 3rem;
        font-weight: 600;
        color: #000000;
      }
      .rectangle-29-JWc {
        width: 53.2rem;
        height: 3.7rem;
        background-color: #ffffff;
        flex-shrink: 0;
      }
    }
    .frame-39-3j6 {
      height: 4.5rem;
      display: flex;
      align-items: center;

      .frame-37-bkc {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-right: 3.15rem;
        height: 100%;

        .place--wpU {
          margin-right: 1.2rem;
          font-weight: 600;
          line-height: 1.5;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          text-align: center;
          font-size: 3rem;
          letter-spacing: -0.033rem;
          flex-shrink: 0;
        }
        .rectangle-29-4u6 {
          width: 48.6rem;
          height: 3.7rem;
          background-color: #ffffff;
          flex-shrink: 0;
        }
      }
      .frame-38-c9v {
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .prize--N96 {
          margin-right: 1.25rem;
          text-align: center;
          font-size: 3rem;
          font-weight: 600;
          letter-spacing: -0.033rem;
          white-space: nowrap;
          line-height: 1.5;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .rectangle-29-6at {
          width: 8.6rem;
          height: 3.7rem;
          background-color: #ffffff;
          flex-shrink: 0;
        }
      }
    }
    .frame-40-Sek {
      height: 4.5rem;
      display: flex;
      align-items: center;

      .frame-37-zwA {
        margin-right: 4.45rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .date--xNC {
          letter-spacing: -0.033rem;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
          font-weight: 600;
          line-height: 1.5;
          font-size: 3rem;
          font-family: Inter, 'Source Sans Pro';
          margin-right: 1.25rem;
          text-align: center;
        }
        .rectangle-29-a8g {
          width: 19.2rem;
          height: 3.7rem;
          background-color: #ffffff;
          flex-shrink: 0;
        }
      }
      .frame-37-X3v {
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .max-number-of-people--GXJ {
          text-align: center;
          font-weight: 600;
          color: #000000;
          flex-shrink: 0;
          margin-right: 1.15rem;
          font-size: 3rem;
          line-height: 1.5;
          letter-spacing: -0.033rem;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .rectangle-29-nEk {
          width: 11.2rem;
          height: 3.7rem;
          background-color: #ffffff;
          flex-shrink: 0;
        }
      }
    }
    .frame-38-8ZW {
      display: flex;
      align-items: center;

      .event-name--Vur {
        margin-right: 1.2rem;
        text-align: center;
        font-size: 3rem;
        font-weight: 600;
        line-height: 1.5;
        letter-spacing: -0.033rem;
        font-family: Inter, 'Source Sans Pro';
        color: #000000;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .rectangle-29-1tC {
        height: 3.7rem;
        background-color: #ffffff;
        flex-shrink: 0;
        width: 50.4rem;
      }
    }
    .frame-42-AFJ {
      width: 80.2rem;

      .describe--i1v {
        line-height: 1.5;
        letter-spacing: -0.033rem;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        margin-bottom: 1rem;
        width: 100%;
        text-align: center;
        font-size: 3rem;
        font-weight: 600;
        white-space: nowrap;
      }
      .rectangle-30-pqe {
        margin-left: 1rem;
        width: 79.2rem;
        height: 14.1rem;
        background-color: #ffffff;
      }
    }
    .frame-44-9sv {
      width: 79.8rem;

      .photo--7Zr {
        font-size: 3rem;
        color: #000000;
        text-align: center;
        font-weight: 600;
        line-height: 1.5;
        letter-spacing: -0.033rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        width: 100%;
      }
      .frame-43-FRA {
        width: 100%;
        height: 22.1rem;
        display: flex;
        column-gap: 1.5rem;
        align-items: center;

        .frame-45-nvt {
          box-sizing: border-box;
          padding: 6.8rem 9.2rem 9.1rem 9.8rem;
          height: 100%;
          background-color: #d9d9d9;
          flex-shrink: 0;

          .upload-1-w36 {
            width: 6.6rem;
            height: 6.2rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .frame-46-GbA {
          box-sizing: border-box;
          padding: 6.8rem 9.8rem 9.1rem 9.2rem;
          height: 100%;
          background-color: #d9d9d9;
          flex-shrink: 0;

          .upload-2-bdS {
            width: 6.6rem;
            height: 6.2rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .frame-47-8dN {
          box-sizing: border-box;
          padding: 6.8rem 9.4rem 9.1rem 9.6rem;
          height: 100%;
          background-color: #d9d9d9;
          flex-shrink: 0;

          .upload-3-Gja {
            width: 6.6rem;
            height: 6.2rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
      }
    }
    .line-2-cHe {
      width: 82.5rem;
      height: 0.1rem;
      background-color: #000000;
    }
    .example-2-illustrates-the-fact-that-a-function-need-not-have-a-maximum-or-minimum-value-at-a-critical-point-figure-3-shows-how-this-is-possible-the-graph-of-is-the-hyperbolic-paraboloid-which-has-a-horizontal-tangent-plane-at-the-origin-you-can-see-that-is-a-maximum-in-the-9oN {
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      max-width: 79.2rem;
      text-align: center;
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 1.5;
      letter-spacing: -0.0198rem;
    }
  }
  .group-1-9gt {
    padding: 3.2rem 2.1rem 7.1rem 2.2rem;
    background-color: #f5f5f5;
    flex-shrink: 0;
    margin-bottom: 1.9rem;
    box-sizing: border-box;
    width: 22.9rem;
    align-items: center;
    display: flex;
    flex-direction: column;

    .frame-6-Tha {
      margin: 0rem 3rem 2.5rem 2.9rem;
      position: relative;
      background-size: cover;
      background-image: url('REPLACE_IMAGE:19:1672');
      background-position: center;
      flex-shrink: 0;
      width: calc(100% - 5.9rem);
      height: 12.6rem;
      cursor: pointer;
      background-repeat: no-repeat;

      .surfer-1-aXJ {
        width: 8.3rem;
        height: 8.2rem;
        position: absolute;
        left: 2.2rem;
        top: 2.1rem;
        object-fit: cover;
        vertical-align: top;
      }
      .frame-52-uZa {
        text-align: center;
        font-family: Inter, 'Source Sans Pro';
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        font-size: 1.3rem;
        height: 3.8rem;
        left: 0.2rem;
        font-weight: 600;
        line-height: 1.5;
        letter-spacing: -0.0143rem;
        background-color: #afacac;
        border-radius: 1.9rem;
        width: 3.8rem;
        color: #000000;
        white-space: nowrap;
        justify-content: center;
      }
    }
    .line-4-LPz {
      background-color: #000000;
      flex-shrink: 0;
      margin: 0rem 1.2rem 3.1rem 1.4rem;
      width: calc(100% - 2.6rem);
      height: 0.1rem;
    }
    .frame-7-evU {
      width: calc(100% - 5.9rem);
      cursor: pointer;
      background-image: url('REPLACE_IMAGE:19:1675');
      flex-shrink: 0;
      margin: 0rem 3rem 5.7rem 2.9rem;
      height: 12.6rem;
      position: relative;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      .hiking-1-n16 {
        width: 7.7rem;
        height: 9rem;
        position: absolute;
        left: 2.5rem;
        top: 1.8rem;
        object-fit: cover;
        vertical-align: top;
      }
      .frame-53-5F6 {
        width: 3.8rem;
        position: absolute;
        line-height: 1.5;
        color: #000000;
        box-sizing: border-box;
        height: 3.8rem;
        left: 0.2rem;
        font-size: 2rem;
        white-space: nowrap;
        align-items: baseline;
        padding: 0.1rem 0.25rem 0.1rem 0.15rem;
        top: 0;
        font-weight: 600;
        font-family: Inter, 'Source Sans Pro';
        background-color: #afacac;
        border-radius: 1.9rem;
        text-align: center;
        letter-spacing: -0.022rem;
        display: flex;

        .frame-53-5F6-sub-0 {
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 2.5;
          letter-spacing: -0.022rem;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .frame-53-5F6-sub-1 {
        }
      }
    }
    .frame-8-Jn4 {
      margin: 0rem 3rem 15.7rem 2.9rem;
      height: 12.6rem;
      cursor: pointer;
      position: relative;
      width: calc(100% - 5.9rem);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:19:1678');
      flex-shrink: 0;

      .cooking-1-2TA {
        left: 2.2rem;
        top: 2.3rem;
        object-fit: cover;
        vertical-align: top;
        width: 9.2rem;
        height: 8.2rem;
        position: absolute;
      }
      .frame-54-A3a {
        box-sizing: border-box;
        height: 3.8rem;
        text-align: center;
        white-space: nowrap;
        border-radius: 1.9rem;
        position: absolute;
        color: #000000;
        background-color: #afacac;
        left: 0.2rem;
        font-size: 2rem;
        line-height: 1.5;
        font-family: Inter, 'Source Sans Pro';
        display: flex;
        padding: 0.1rem 0.25rem 0.1rem 0.15rem;
        width: 3.8rem;
        top: 0;
        font-weight: 600;
        letter-spacing: -0.022rem;
        align-items: baseline;

        .frame-54-A3a-sub-0 {
          letter-spacing: -0.022rem;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 2.5;
        }
        .frame-54-A3a-sub-1 {
        }
      }
    }
    .frame-9-t7z {
      overflow: hidden;
      position: relative;
      background-color: #eb2222;
      border-radius: 2rem;
      box-sizing: border-box;
      padding: 2.1rem 5.7rem;
      width: 100%;
      height: 10.8rem;
      cursor: pointer;
      flex-shrink: 0;

      .create-event--cZn {
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        max-width: 7.2rem;
        text-align: center;
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 1.5;
        letter-spacing: -0.0242rem;
      }
    }
  }
}
