
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.frame-56-roa {
  width: 100%;
  height: 99.8rem;
}
.frame-56-roa .group-3-D8L {
  box-sizing: border-box;
  padding: 0.9rem 0rem 0.9rem 2.6rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
}
.frame-56-roa .group-3-D8L .nctuemblem-3-w4L {
  margin-right: 3.1rem;
  width: 9.5rem;
  height: 9.5rem;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-56-roa .group-3-D8L .auto-group-xlc3-sCt {
  margin: 16.3rem 7.9rem 0rem 0rem;
  width: 71.9rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-56-roa .group-3-D8L .auto-group-xlc3-sCt .auto-group-vcqt-Ph2 {
  margin: 0rem 3.2rem 2.4rem 0rem;
  box-sizing: border-box;
  padding-top: 0.2rem;
  text-align: center;
  font-size: 5.4rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.0594rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-56-roa .group-3-D8L .auto-group-xlc3-sCt .let-if-has-a-local-maximum-or-minimum-at-then-has-a-local-maximum-or-minimum-at-so-by-fermats-theorem-see-theorem-314-but-see-equation-1131-and-so-similarly-by-applying-fermats-theorem-to-the-function-we-obtain-if-we-put-and-in-the-equation-of-a-tangent-plane-equation-1142-we-get-thus-the-geometric-interpretation-of-theorem-2-is-that-if-the-graph-of-has-a-tangent-plane-at-a-local-maximum-or-minimum-then-the-tangent-plane-must-be-horizontal-a-point-is-called-a-critical-point-or-stationary-point-of-if-and-or-if-one-of-these-partial-derivatives-does-not-exist-theorem-2-says-that-if-has-a-local-maximum-or-minimum-at-then-is-a-critical-point-of-however-as-in-single-variable-calculus-not-all-critical-points-give-rise-to-maxima-or-minima-at-a-critical-point-a-function-could-have-a-local-maximum-or-a-local-minimum-or-neither-example-2-illustrates-the-fact-that-a-function-need-not-have-a-maximum-or-minimum-value-at-a-critical-point-figure-3-shows-how-this-is-possible-the-graph-of-is-the-hyperbolic-paraboloid-which-has-a-horizontal-tangent-plane-at-the-origin-you-can-see-that-is-a-maximum-in-the-direction-of-the-axis-but-a-minimum-in-the-direction-of-the-axis-near-the-origin-the-graph-has-the-shape-of-a-saddle-and-so-is-called-a-saddle-point-of-we-need-to-be-able-to-determine-whether-or-not-a-function-has-an-Gkp {
  margin-bottom: 2.6rem;
  max-width: 71.9rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.0198rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.frame-56-roa .group-3-D8L .auto-group-xlc3-sCt .auto-group-pyz1-byS {
  margin: 0rem 4.2rem 0rem 3.7rem;
  width: calc(100% - 7.9rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.frame-56-roa .group-3-D8L .auto-group-xlc3-sCt .auto-group-pyz1-byS .s63651851-4-8Cg {
  margin: 0.4rem 8.2rem 0rem 0rem;
  width: 31.3rem;
  height: 18.9rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-56-roa .group-3-D8L .auto-group-xlc3-sCt .auto-group-pyz1-byS .c8766f-2446-4acd-8480-769b0933b026-4-EmW {
  margin-bottom: 0.4rem;
  width: 24.5rem;
  height: 18.9rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-56-roa .group-3-D8L .auto-group-xctt-MLL {
  margin-top: 14.6rem;
  width: 49rem;
  flex-shrink: 0;
}
.frame-56-roa .group-3-D8L .auto-group-xctt-MLL .whos-the-member--632 {
  margin: 0rem 0rem 0.6rem 3.6rem;
  font-size: 2.3rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.0253rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-56-roa .group-3-D8L .auto-group-xctt-MLL .frame-41-nwS {
  margin-bottom: 3.4rem;
  box-sizing: border-box;
  padding: 1.3rem 1rem 0rem 1.8rem;
  width: 100%;
  height: 62.7rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;
}
.frame-56-roa .group-3-D8L .auto-group-xctt-MLL .frame-41-nwS .frame-28-h2p {
  margin-right: 1.3rem;
  width: 40.7rem;
  height: 122.7rem;
  row-gap: 1.9rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-56-roa .group-3-D8L .auto-group-xctt-MLL .frame-41-nwS .frame-28-h2p .frame-21-PgL {
  width: 100%;
  height: 7rem;
  position: relative;
  flex-shrink: 0;
}
.frame-56-roa .group-3-D8L .auto-group-xctt-MLL .frame-41-nwS .frame-28-h2p .frame-21-PgL .rectangle-25-wSx {
  width: 38.3rem;
  height: 5.8rem;
  position: absolute;
  left: 2.4rem;
  top: 0.6rem;
  background-color: #d9d9d9;
}
.frame-56-roa .group-3-D8L .auto-group-xctt-MLL .frame-41-nwS .frame-28-h2p .frame-21-PgL .ellipse-6-4nU {
  width: 7rem;
  height: 7rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #9747ff;
  border-radius: 3.5rem;
}
.frame-56-roa .group-3-D8L .auto-group-xctt-MLL .frame-41-nwS .frame-28-h2p .frame-21-PgL .henry-oVA {
  width: 6.5rem;
  height: 3rem;
  position: absolute;
  left: 9.2rem;
  top: 2rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.022rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-56-roa .group-3-D8L .auto-group-xctt-MLL .frame-41-nwS .frame-28-h2p .frame-22-uHJ {
  width: 100%;
  height: 7rem;
  position: relative;
  flex-shrink: 0;
}
.frame-56-roa .group-3-D8L .auto-group-xctt-MLL .frame-41-nwS .frame-28-h2p .frame-22-uHJ .rectangle-25-rTS {
  width: 38.3rem;
  height: 5.8rem;
  position: absolute;
  left: 2.4rem;
  top: 0.6rem;
  background-color: #d9d9d9;
}
.frame-56-roa .group-3-D8L .auto-group-xctt-MLL .frame-41-nwS .frame-28-h2p .frame-22-uHJ .ellipse-6-z3r {
  width: 7rem;
  height: 7rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #9747ff;
  border-radius: 3.5rem;
}
.frame-56-roa .group-3-D8L .auto-group-xctt-MLL .frame-41-nwS .frame-28-h2p .frame-22-uHJ .henry-jGL {
  width: 6.5rem;
  height: 3rem;
  position: absolute;
  left: 9.2rem;
  top: 2rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.022rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-56-roa .group-3-D8L .auto-group-xctt-MLL .frame-41-nwS .frame-28-h2p .frame-23-3Xv {
  width: 100%;
  height: 7rem;
  position: relative;
  flex-shrink: 0;
}
.frame-56-roa .group-3-D8L .auto-group-xctt-MLL .frame-41-nwS .frame-28-h2p .frame-23-3Xv .rectangle-25-1Dr {
  width: 38.3rem;
  height: 5.8rem;
  position: absolute;
  left: 2.4rem;
  top: 0.6rem;
  background-color: #d9d9d9;
}
.frame-56-roa .group-3-D8L .auto-group-xctt-MLL .frame-41-nwS .frame-28-h2p .frame-23-3Xv .ellipse-6-LG8 {
  width: 7rem;
  height: 7rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #9747ff;
  border-radius: 3.5rem;
}
.frame-56-roa .group-3-D8L .auto-group-xctt-MLL .frame-41-nwS .frame-28-h2p .frame-23-3Xv .henry-UdE {
  width: 6.5rem;
  height: 3rem;
  position: absolute;
  left: 9.2rem;
  top: 2rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.022rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-56-roa .group-3-D8L .auto-group-xctt-MLL .frame-41-nwS .frame-28-h2p .frame-24-Akx {
  width: 100%;
  height: 7rem;
  position: relative;
  flex-shrink: 0;
}
.frame-56-roa .group-3-D8L .auto-group-xctt-MLL .frame-41-nwS .frame-28-h2p .frame-24-Akx .rectangle-25-Wpp {
  width: 38.3rem;
  height: 5.8rem;
  position: absolute;
  left: 2.4rem;
  top: 0.6rem;
  background-color: #d9d9d9;
}
.frame-56-roa .group-3-D8L .auto-group-xctt-MLL .frame-41-nwS .frame-28-h2p .frame-24-Akx .ellipse-6-STa {
  width: 7rem;
  height: 7rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #9747ff;
  border-radius: 3.5rem;
}
.frame-56-roa .group-3-D8L .auto-group-xctt-MLL .frame-41-nwS .frame-28-h2p .frame-24-Akx .henry-yyJ {
  width: 6.5rem;
  height: 3rem;
  position: absolute;
  left: 9.2rem;
  top: 2rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.022rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-56-roa .group-3-D8L .auto-group-xctt-MLL .frame-41-nwS .frame-28-h2p .frame-26-VRr {
  width: 100%;
  height: 7rem;
  position: relative;
  flex-shrink: 0;
}
.frame-56-roa .group-3-D8L .auto-group-xctt-MLL .frame-41-nwS .frame-28-h2p .frame-26-VRr .rectangle-25-eJk {
  width: 38.3rem;
  height: 5.8rem;
  position: absolute;
  left: 2.4rem;
  top: 0.6rem;
  background-color: #d9d9d9;
}
.frame-56-roa .group-3-D8L .auto-group-xctt-MLL .frame-41-nwS .frame-28-h2p .frame-26-VRr .ellipse-6-aTJ {
  width: 7rem;
  height: 7rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #9747ff;
  border-radius: 3.5rem;
}
.frame-56-roa .group-3-D8L .auto-group-xctt-MLL .frame-41-nwS .frame-28-h2p .frame-26-VRr .henry-Kfn {
  width: 6.5rem;
  height: 3rem;
  position: absolute;
  left: 9.2rem;
  top: 2rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.022rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-56-roa .group-3-D8L .auto-group-xctt-MLL .frame-41-nwS .frame-28-h2p .frame-27-2q6 {
  width: 100%;
  height: 7rem;
  position: relative;
  flex-shrink: 0;
}
.frame-56-roa .group-3-D8L .auto-group-xctt-MLL .frame-41-nwS .frame-28-h2p .frame-27-2q6 .rectangle-25-nZN {
  width: 38.3rem;
  height: 5.8rem;
  position: absolute;
  left: 2.4rem;
  top: 0.6rem;
  background-color: #d9d9d9;
}
.frame-56-roa .group-3-D8L .auto-group-xctt-MLL .frame-41-nwS .frame-28-h2p .frame-27-2q6 .ellipse-6-8NL {
  width: 7rem;
  height: 7rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #9747ff;
  border-radius: 3.5rem;
}
.frame-56-roa .group-3-D8L .auto-group-xctt-MLL .frame-41-nwS .frame-28-h2p .frame-27-2q6 .henry-ft4 {
  width: 6.5rem;
  height: 3rem;
  position: absolute;
  left: 9.2rem;
  top: 2rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.022rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-56-roa .group-3-D8L .auto-group-xctt-MLL .frame-41-nwS .frame-28-h2p .frame-28-z9e {
  width: 100%;
  height: 7rem;
  position: relative;
  flex-shrink: 0;
}
.frame-56-roa .group-3-D8L .auto-group-xctt-MLL .frame-41-nwS .frame-28-h2p .frame-28-z9e .rectangle-25-LzC {
  width: 38.3rem;
  height: 5.8rem;
  position: absolute;
  left: 2.4rem;
  top: 0.6rem;
  background-color: #d9d9d9;
}
.frame-56-roa .group-3-D8L .auto-group-xctt-MLL .frame-41-nwS .frame-28-h2p .frame-28-z9e .ellipse-6-HeY {
  width: 7rem;
  height: 7rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #9747ff;
  border-radius: 3.5rem;
}
.frame-56-roa .group-3-D8L .auto-group-xctt-MLL .frame-41-nwS .frame-28-h2p .frame-28-z9e .henry-SGY {
  width: 6.5rem;
  height: 3rem;
  position: absolute;
  left: 9.2rem;
  top: 2rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.022rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-56-roa .group-3-D8L .auto-group-xctt-MLL .frame-41-nwS .frame-28-h2p .frame-29-YaU {
  width: 100%;
  height: 7rem;
  position: relative;
  flex-shrink: 0;
}
.frame-56-roa .group-3-D8L .auto-group-xctt-MLL .frame-41-nwS .frame-28-h2p .frame-29-YaU .rectangle-25-hTN {
  width: 38.3rem;
  height: 5.8rem;
  position: absolute;
  left: 2.4rem;
  top: 0.6rem;
  background-color: #d9d9d9;
}
.frame-56-roa .group-3-D8L .auto-group-xctt-MLL .frame-41-nwS .frame-28-h2p .frame-29-YaU .ellipse-6-ETJ {
  width: 7rem;
  height: 7rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #9747ff;
  border-radius: 3.5rem;
}
.frame-56-roa .group-3-D8L .auto-group-xctt-MLL .frame-41-nwS .frame-28-h2p .frame-29-YaU .henry-B7e {
  width: 6.5rem;
  height: 3rem;
  position: absolute;
  left: 9.2rem;
  top: 2rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.022rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-56-roa .group-3-D8L .auto-group-xctt-MLL .frame-41-nwS .frame-28-h2p .frame-30-HgU {
  width: 100%;
  height: 7rem;
  position: relative;
  flex-shrink: 0;
}
.frame-56-roa .group-3-D8L .auto-group-xctt-MLL .frame-41-nwS .frame-28-h2p .frame-30-HgU .rectangle-25-qT6 {
  width: 38.3rem;
  height: 5.8rem;
  position: absolute;
  left: 2.4rem;
  top: 0.6rem;
  background-color: #d9d9d9;
}
.frame-56-roa .group-3-D8L .auto-group-xctt-MLL .frame-41-nwS .frame-28-h2p .frame-30-HgU .ellipse-6-mrY {
  width: 7rem;
  height: 7rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #9747ff;
  border-radius: 3.5rem;
}
.frame-56-roa .group-3-D8L .auto-group-xctt-MLL .frame-41-nwS .frame-28-h2p .frame-30-HgU .henry-WZE {
  width: 6.5rem;
  height: 3rem;
  position: absolute;
  left: 9.2rem;
  top: 2rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.022rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-56-roa .group-3-D8L .auto-group-xctt-MLL .frame-41-nwS .frame-28-h2p .frame-31-DiY {
  width: 100%;
  height: 7rem;
  position: relative;
  flex-shrink: 0;
}
.frame-56-roa .group-3-D8L .auto-group-xctt-MLL .frame-41-nwS .frame-28-h2p .frame-31-DiY .rectangle-25-mzx {
  width: 38.3rem;
  height: 5.8rem;
  position: absolute;
  left: 2.4rem;
  top: 0.6rem;
  background-color: #d9d9d9;
}
.frame-56-roa .group-3-D8L .auto-group-xctt-MLL .frame-41-nwS .frame-28-h2p .frame-31-DiY .ellipse-6-7J8 {
  width: 7rem;
  height: 7rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #9747ff;
  border-radius: 3.5rem;
}
.frame-56-roa .group-3-D8L .auto-group-xctt-MLL .frame-41-nwS .frame-28-h2p .frame-31-DiY .henry-2vt {
  width: 6.5rem;
  height: 3rem;
  position: absolute;
  left: 9.2rem;
  top: 2rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.022rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-56-roa .group-3-D8L .auto-group-xctt-MLL .frame-41-nwS .frame-28-h2p .frame-32-vmN {
  width: 100%;
  height: 7rem;
  position: relative;
  flex-shrink: 0;
}
.frame-56-roa .group-3-D8L .auto-group-xctt-MLL .frame-41-nwS .frame-28-h2p .frame-32-vmN .rectangle-25-gEk {
  width: 38.3rem;
  height: 5.8rem;
  position: absolute;
  left: 2.4rem;
  top: 0.6rem;
  background-color: #d9d9d9;
}
.frame-56-roa .group-3-D8L .auto-group-xctt-MLL .frame-41-nwS .frame-28-h2p .frame-32-vmN .ellipse-6-cPJ {
  width: 7rem;
  height: 7rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #9747ff;
  border-radius: 3.5rem;
}
.frame-56-roa .group-3-D8L .auto-group-xctt-MLL .frame-41-nwS .frame-28-h2p .frame-32-vmN .henry-m1J {
  width: 6.5rem;
  height: 3rem;
  position: absolute;
  left: 9.2rem;
  top: 2rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.022rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-56-roa .group-3-D8L .auto-group-xctt-MLL .frame-41-nwS .frame-28-h2p .frame-33-sKE {
  width: 100%;
  height: 7rem;
  position: relative;
  flex-shrink: 0;
}
.frame-56-roa .group-3-D8L .auto-group-xctt-MLL .frame-41-nwS .frame-28-h2p .frame-33-sKE .rectangle-25-2T2 {
  width: 38.3rem;
  height: 5.8rem;
  position: absolute;
  left: 2.4rem;
  top: 0.6rem;
  background-color: #d9d9d9;
}
.frame-56-roa .group-3-D8L .auto-group-xctt-MLL .frame-41-nwS .frame-28-h2p .frame-33-sKE .ellipse-6-y7N {
  width: 7rem;
  height: 7rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #9747ff;
  border-radius: 3.5rem;
}
.frame-56-roa .group-3-D8L .auto-group-xctt-MLL .frame-41-nwS .frame-28-h2p .frame-33-sKE .henry-iKr {
  width: 6.5rem;
  height: 3rem;
  position: absolute;
  left: 9.2rem;
  top: 2rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.022rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-56-roa .group-3-D8L .auto-group-xctt-MLL .frame-41-nwS .frame-28-h2p .frame-34-2LY {
  width: 100%;
  height: 7rem;
  position: relative;
  flex-shrink: 0;
}
.frame-56-roa .group-3-D8L .auto-group-xctt-MLL .frame-41-nwS .frame-28-h2p .frame-34-2LY .rectangle-25-BjE {
  width: 38.3rem;
  height: 5.8rem;
  position: absolute;
  left: 2.4rem;
  top: 0.6rem;
  background-color: #d9d9d9;
}
.frame-56-roa .group-3-D8L .auto-group-xctt-MLL .frame-41-nwS .frame-28-h2p .frame-34-2LY .ellipse-6-vgp {
  width: 7rem;
  height: 7rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #9747ff;
  border-radius: 3.5rem;
}
.frame-56-roa .group-3-D8L .auto-group-xctt-MLL .frame-41-nwS .frame-28-h2p .frame-34-2LY .henry-GVn {
  width: 6.5rem;
  height: 3rem;
  position: absolute;
  left: 9.2rem;
  top: 2rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.022rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-56-roa .group-3-D8L .auto-group-xctt-MLL .frame-41-nwS .frame-28-h2p .frame-25-aFa {
  width: 100%;
  height: 7rem;
  position: relative;
  flex-shrink: 0;
}
.frame-56-roa .group-3-D8L .auto-group-xctt-MLL .frame-41-nwS .frame-28-h2p .frame-25-aFa .rectangle-25-vaL {
  width: 38.3rem;
  height: 5.8rem;
  position: absolute;
  left: 2.4rem;
  top: 0.6rem;
  background-color: #d9d9d9;
}
.frame-56-roa .group-3-D8L .auto-group-xctt-MLL .frame-41-nwS .frame-28-h2p .frame-25-aFa .ellipse-6-f28 {
  width: 7rem;
  height: 7rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #9747ff;
  border-radius: 3.5rem;
}
.frame-56-roa .group-3-D8L .auto-group-xctt-MLL .frame-41-nwS .frame-28-h2p .frame-25-aFa .henry-Cnk {
  width: 6.5rem;
  height: 3rem;
  position: absolute;
  left: 9.2rem;
  top: 2rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.022rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-56-roa .group-3-D8L .auto-group-xctt-MLL .frame-41-nwS .auto-group-dsdu-vCx {
  margin-top: 1.5rem;
  width: 4.2rem;
  height: 56.6rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-56-roa .group-3-D8L .auto-group-xctt-MLL .frame-40-eek {
  margin: 0rem 3.3rem 0rem 4rem;
  width: calc(100% - 7.3rem);
  height: 10.1rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.033rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffa629;
  border-radius: 2rem;
}
