
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.jointhiking-gVW {
  width: 100%;
  height: 103.5rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.jointhiking-gVW .group-1-prc {
  box-sizing: border-box;
  padding: 0.9rem 0rem 0.9rem 2.6rem;
  width: 100%;
  height: 99.8rem;
  display: flex;
  align-items: flex-start;
}
.jointhiking-gVW .group-1-prc .nctuemblem-1-wgL {
  margin-right: 3.25rem;
  width: 9.5rem;
  height: 9.5rem;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.jointhiking-gVW .group-1-prc .auto-group-gfum-g88 {
  margin: 16.3rem 6.7rem 0rem 0rem;
  width: 72.95rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.jointhiking-gVW .group-1-prc .auto-group-gfum-g88 .auto-group-bmt1-PYL {
  margin: 0rem 0.05rem 2.4rem 0rem;
  box-sizing: border-box;
  padding-top: 2.7rem;
  width: 72.9rem;
  text-align: center;
  font-size: 5.8rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.0638rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.jointhiking-gVW .group-1-prc .auto-group-gfum-g88 .let-if-has-a-local-maximum-or-minimum-at-then-has-a-local-maximum-or-minimum-at-so-by-fermats-theorem-see-theorem-314-but-see-equation-1131-and-so-similarly-by-applying-fermats-theorem-to-the-function-we-obtain-if-we-put-and-in-the-equation-of-a-tangent-plane-equation-1142-we-get-thus-the-geometric-interpretation-of-theorem-2-is-that-if-the-graph-of-has-a-tangent-plane-at-a-local-maximum-or-minimum-then-the-tangent-plane-must-be-horizontal-a-point-is-called-a-critical-point-or-stationary-point-of-if-and-or-if-one-of-these-partial-derivatives-does-not-exist-theorem-2-says-that-if-has-a-local-maximum-or-minimum-at-then-is-a-critical-point-of-however-as-in-single-variable-calculus-not-all-critical-points-give-rise-to-maxima-or-minima-at-a-critical-point-a-function-could-have-a-local-maximum-or-a-local-minimum-or-neither-example-2-illustrates-the-fact-that-a-function-need-not-have-a-maximum-or-minimum-value-at-a-critical-point-figure-3-shows-how-this-is-possible-the-graph-of-is-the-hyperbolic-paraboloid-which-has-a-horizontal-tangent-plane-at-the-origin-you-can-see-that-is-a-maximum-in-the-direction-of-the-axis-but-a-minimum-in-the-direction-of-48g {
  margin: 0rem 0rem 4.9rem 1.05rem;
  max-width: 71.9rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.0198rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.jointhiking-gVW .group-1-prc .auto-group-gfum-g88 .auto-group-ku3r-YV6 {
  margin: 0rem 5.4rem 0rem 3.55rem;
  width: calc(100% - 8.95rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.jointhiking-gVW .group-1-prc .auto-group-gfum-g88 .auto-group-ku3r-YV6 .s63651851-2-eo2 {
  margin: 0.4rem 8.2rem 0rem 0rem;
  width: 31.3rem;
  height: 18.9rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.jointhiking-gVW .group-1-prc .auto-group-gfum-g88 .auto-group-ku3r-YV6 .c8766f-2446-4acd-8480-769b0933b026-2-ZQC {
  margin-bottom: 0.4rem;
  width: 24.5rem;
  height: 18.9rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.jointhiking-gVW .group-1-prc .auto-group-3ys5-4rk {
  margin-top: 14.6rem;
  width: 49rem;
  flex-shrink: 0;
}
.jointhiking-gVW .group-1-prc .auto-group-3ys5-4rk .whos-the-member--Qfi {
  margin: 0rem 0rem 0.6rem 3.6rem;
  font-size: 2.3rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.0253rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.jointhiking-gVW .group-1-prc .auto-group-3ys5-4rk .frame-35-Wye {
  margin-bottom: 4rem;
  box-sizing: border-box;
  padding: 1.3rem 1rem 0rem 1.8rem;
  width: 100%;
  height: 62.7rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;
}
.jointhiking-gVW .group-1-prc .auto-group-3ys5-4rk .frame-35-Wye .frame-28-cFz {
  margin-right: 1.3rem;
  width: 40.7rem;
  height: 122.7rem;
  row-gap: 1.9rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.jointhiking-gVW .group-1-prc .auto-group-3ys5-4rk .frame-35-Wye .frame-28-cFz .frame-21-i48 {
  width: 100%;
  height: 7rem;
  position: relative;
  flex-shrink: 0;
}
.jointhiking-gVW .group-1-prc .auto-group-3ys5-4rk .frame-35-Wye .frame-28-cFz .frame-21-i48 .rectangle-25-TnQ {
  width: 38.3rem;
  height: 5.8rem;
  position: absolute;
  left: 2.4rem;
  top: 0.6rem;
  background-color: #d9d9d9;
}
.jointhiking-gVW .group-1-prc .auto-group-3ys5-4rk .frame-35-Wye .frame-28-cFz .frame-21-i48 .ellipse-6-BiQ {
  width: 7rem;
  height: 7rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #9747ff;
  border-radius: 3.5rem;
}
.jointhiking-gVW .group-1-prc .auto-group-3ys5-4rk .frame-35-Wye .frame-28-cFz .frame-21-i48 .henry-87r {
  width: 6.5rem;
  height: 3rem;
  position: absolute;
  left: 9.2rem;
  top: 2rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.022rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.jointhiking-gVW .group-1-prc .auto-group-3ys5-4rk .frame-35-Wye .frame-28-cFz .frame-22-Rck {
  width: 100%;
  height: 7rem;
  position: relative;
  flex-shrink: 0;
}
.jointhiking-gVW .group-1-prc .auto-group-3ys5-4rk .frame-35-Wye .frame-28-cFz .frame-22-Rck .rectangle-25-yuA {
  width: 38.3rem;
  height: 5.8rem;
  position: absolute;
  left: 2.4rem;
  top: 0.6rem;
  background-color: #d9d9d9;
}
.jointhiking-gVW .group-1-prc .auto-group-3ys5-4rk .frame-35-Wye .frame-28-cFz .frame-22-Rck .ellipse-6-irk {
  width: 7rem;
  height: 7rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #9747ff;
  border-radius: 3.5rem;
}
.jointhiking-gVW .group-1-prc .auto-group-3ys5-4rk .frame-35-Wye .frame-28-cFz .frame-22-Rck .henry-sUk {
  width: 6.5rem;
  height: 3rem;
  position: absolute;
  left: 9.2rem;
  top: 2rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.022rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.jointhiking-gVW .group-1-prc .auto-group-3ys5-4rk .frame-35-Wye .frame-28-cFz .frame-23-yXn {
  width: 100%;
  height: 7rem;
  position: relative;
  flex-shrink: 0;
}
.jointhiking-gVW .group-1-prc .auto-group-3ys5-4rk .frame-35-Wye .frame-28-cFz .frame-23-yXn .rectangle-25-8fa {
  width: 38.3rem;
  height: 5.8rem;
  position: absolute;
  left: 2.4rem;
  top: 0.6rem;
  background-color: #d9d9d9;
}
.jointhiking-gVW .group-1-prc .auto-group-3ys5-4rk .frame-35-Wye .frame-28-cFz .frame-23-yXn .ellipse-6-sNG {
  width: 7rem;
  height: 7rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #9747ff;
  border-radius: 3.5rem;
}
.jointhiking-gVW .group-1-prc .auto-group-3ys5-4rk .frame-35-Wye .frame-28-cFz .frame-23-yXn .henry-Dh2 {
  width: 6.5rem;
  height: 3rem;
  position: absolute;
  left: 9.2rem;
  top: 2rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.022rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.jointhiking-gVW .group-1-prc .auto-group-3ys5-4rk .frame-35-Wye .frame-28-cFz .frame-24-i7z {
  width: 100%;
  height: 7rem;
  position: relative;
  flex-shrink: 0;
}
.jointhiking-gVW .group-1-prc .auto-group-3ys5-4rk .frame-35-Wye .frame-28-cFz .frame-24-i7z .rectangle-25-pB2 {
  width: 38.3rem;
  height: 5.8rem;
  position: absolute;
  left: 2.4rem;
  top: 0.6rem;
  background-color: #d9d9d9;
}
.jointhiking-gVW .group-1-prc .auto-group-3ys5-4rk .frame-35-Wye .frame-28-cFz .frame-24-i7z .ellipse-6-kKa {
  width: 7rem;
  height: 7rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #9747ff;
  border-radius: 3.5rem;
}
.jointhiking-gVW .group-1-prc .auto-group-3ys5-4rk .frame-35-Wye .frame-28-cFz .frame-24-i7z .henry-gj2 {
  width: 6.5rem;
  height: 3rem;
  position: absolute;
  left: 9.2rem;
  top: 2rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.022rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.jointhiking-gVW .group-1-prc .auto-group-3ys5-4rk .frame-35-Wye .frame-28-cFz .frame-26-bqz {
  width: 100%;
  height: 7rem;
  position: relative;
  flex-shrink: 0;
}
.jointhiking-gVW .group-1-prc .auto-group-3ys5-4rk .frame-35-Wye .frame-28-cFz .frame-26-bqz .rectangle-25-xgY {
  width: 38.3rem;
  height: 5.8rem;
  position: absolute;
  left: 2.4rem;
  top: 0.6rem;
  background-color: #d9d9d9;
}
.jointhiking-gVW .group-1-prc .auto-group-3ys5-4rk .frame-35-Wye .frame-28-cFz .frame-26-bqz .ellipse-6-u5z {
  width: 7rem;
  height: 7rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #9747ff;
  border-radius: 3.5rem;
}
.jointhiking-gVW .group-1-prc .auto-group-3ys5-4rk .frame-35-Wye .frame-28-cFz .frame-26-bqz .henry-3hz {
  width: 6.5rem;
  height: 3rem;
  position: absolute;
  left: 9.2rem;
  top: 2rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.022rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.jointhiking-gVW .group-1-prc .auto-group-3ys5-4rk .frame-35-Wye .frame-28-cFz .frame-27-A1v {
  width: 100%;
  height: 7rem;
  position: relative;
  flex-shrink: 0;
}
.jointhiking-gVW .group-1-prc .auto-group-3ys5-4rk .frame-35-Wye .frame-28-cFz .frame-27-A1v .rectangle-25-WLg {
  width: 38.3rem;
  height: 5.8rem;
  position: absolute;
  left: 2.4rem;
  top: 0.6rem;
  background-color: #d9d9d9;
}
.jointhiking-gVW .group-1-prc .auto-group-3ys5-4rk .frame-35-Wye .frame-28-cFz .frame-27-A1v .ellipse-6-FJG {
  width: 7rem;
  height: 7rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #9747ff;
  border-radius: 3.5rem;
}
.jointhiking-gVW .group-1-prc .auto-group-3ys5-4rk .frame-35-Wye .frame-28-cFz .frame-27-A1v .henry-BSp {
  width: 6.5rem;
  height: 3rem;
  position: absolute;
  left: 9.2rem;
  top: 2rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.022rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.jointhiking-gVW .group-1-prc .auto-group-3ys5-4rk .frame-35-Wye .frame-28-cFz .frame-28-guN {
  width: 100%;
  height: 7rem;
  position: relative;
  flex-shrink: 0;
}
.jointhiking-gVW .group-1-prc .auto-group-3ys5-4rk .frame-35-Wye .frame-28-cFz .frame-28-guN .rectangle-25-3E8 {
  width: 38.3rem;
  height: 5.8rem;
  position: absolute;
  left: 2.4rem;
  top: 0.6rem;
  background-color: #d9d9d9;
}
.jointhiking-gVW .group-1-prc .auto-group-3ys5-4rk .frame-35-Wye .frame-28-cFz .frame-28-guN .ellipse-6-ZyA {
  width: 7rem;
  height: 7rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #9747ff;
  border-radius: 3.5rem;
}
.jointhiking-gVW .group-1-prc .auto-group-3ys5-4rk .frame-35-Wye .frame-28-cFz .frame-28-guN .henry-KBe {
  width: 6.5rem;
  height: 3rem;
  position: absolute;
  left: 9.2rem;
  top: 2rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.022rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.jointhiking-gVW .group-1-prc .auto-group-3ys5-4rk .frame-35-Wye .frame-28-cFz .frame-29-S1N {
  width: 100%;
  height: 7rem;
  position: relative;
  flex-shrink: 0;
}
.jointhiking-gVW .group-1-prc .auto-group-3ys5-4rk .frame-35-Wye .frame-28-cFz .frame-29-S1N .rectangle-25-PBW {
  width: 38.3rem;
  height: 5.8rem;
  position: absolute;
  left: 2.4rem;
  top: 0.6rem;
  background-color: #d9d9d9;
}
.jointhiking-gVW .group-1-prc .auto-group-3ys5-4rk .frame-35-Wye .frame-28-cFz .frame-29-S1N .ellipse-6-XHi {
  width: 7rem;
  height: 7rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #9747ff;
  border-radius: 3.5rem;
}
.jointhiking-gVW .group-1-prc .auto-group-3ys5-4rk .frame-35-Wye .frame-28-cFz .frame-29-S1N .henry-sMa {
  width: 6.5rem;
  height: 3rem;
  position: absolute;
  left: 9.2rem;
  top: 2rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.022rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.jointhiking-gVW .group-1-prc .auto-group-3ys5-4rk .frame-35-Wye .frame-28-cFz .frame-30-Bt4 {
  width: 100%;
  height: 7rem;
  position: relative;
  flex-shrink: 0;
}
.jointhiking-gVW .group-1-prc .auto-group-3ys5-4rk .frame-35-Wye .frame-28-cFz .frame-30-Bt4 .rectangle-25-kRN {
  width: 38.3rem;
  height: 5.8rem;
  position: absolute;
  left: 2.4rem;
  top: 0.6rem;
  background-color: #d9d9d9;
}
.jointhiking-gVW .group-1-prc .auto-group-3ys5-4rk .frame-35-Wye .frame-28-cFz .frame-30-Bt4 .ellipse-6-Hw6 {
  width: 7rem;
  height: 7rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #9747ff;
  border-radius: 3.5rem;
}
.jointhiking-gVW .group-1-prc .auto-group-3ys5-4rk .frame-35-Wye .frame-28-cFz .frame-30-Bt4 .henry-qBv {
  width: 6.5rem;
  height: 3rem;
  position: absolute;
  left: 9.2rem;
  top: 2rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.022rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.jointhiking-gVW .group-1-prc .auto-group-3ys5-4rk .frame-35-Wye .frame-28-cFz .frame-31-jYC {
  width: 100%;
  height: 7rem;
  position: relative;
  flex-shrink: 0;
}
.jointhiking-gVW .group-1-prc .auto-group-3ys5-4rk .frame-35-Wye .frame-28-cFz .frame-31-jYC .rectangle-25-VGU {
  width: 38.3rem;
  height: 5.8rem;
  position: absolute;
  left: 2.4rem;
  top: 0.6rem;
  background-color: #d9d9d9;
}
.jointhiking-gVW .group-1-prc .auto-group-3ys5-4rk .frame-35-Wye .frame-28-cFz .frame-31-jYC .ellipse-6-cbz {
  width: 7rem;
  height: 7rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #9747ff;
  border-radius: 3.5rem;
}
.jointhiking-gVW .group-1-prc .auto-group-3ys5-4rk .frame-35-Wye .frame-28-cFz .frame-31-jYC .henry-9M2 {
  width: 6.5rem;
  height: 3rem;
  position: absolute;
  left: 9.2rem;
  top: 2rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.022rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.jointhiking-gVW .group-1-prc .auto-group-3ys5-4rk .frame-35-Wye .frame-28-cFz .frame-32-4D6 {
  width: 100%;
  height: 7rem;
  position: relative;
  flex-shrink: 0;
}
.jointhiking-gVW .group-1-prc .auto-group-3ys5-4rk .frame-35-Wye .frame-28-cFz .frame-32-4D6 .rectangle-25-DLt {
  width: 38.3rem;
  height: 5.8rem;
  position: absolute;
  left: 2.4rem;
  top: 0.6rem;
  background-color: #d9d9d9;
}
.jointhiking-gVW .group-1-prc .auto-group-3ys5-4rk .frame-35-Wye .frame-28-cFz .frame-32-4D6 .ellipse-6-wXn {
  width: 7rem;
  height: 7rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #9747ff;
  border-radius: 3.5rem;
}
.jointhiking-gVW .group-1-prc .auto-group-3ys5-4rk .frame-35-Wye .frame-28-cFz .frame-32-4D6 .henry-V3W {
  width: 6.5rem;
  height: 3rem;
  position: absolute;
  left: 9.2rem;
  top: 2rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.022rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.jointhiking-gVW .group-1-prc .auto-group-3ys5-4rk .frame-35-Wye .frame-28-cFz .frame-33-c88 {
  width: 100%;
  height: 7rem;
  position: relative;
  flex-shrink: 0;
}
.jointhiking-gVW .group-1-prc .auto-group-3ys5-4rk .frame-35-Wye .frame-28-cFz .frame-33-c88 .rectangle-25-N7J {
  width: 38.3rem;
  height: 5.8rem;
  position: absolute;
  left: 2.4rem;
  top: 0.6rem;
  background-color: #d9d9d9;
}
.jointhiking-gVW .group-1-prc .auto-group-3ys5-4rk .frame-35-Wye .frame-28-cFz .frame-33-c88 .ellipse-6-7Kn {
  width: 7rem;
  height: 7rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #9747ff;
  border-radius: 3.5rem;
}
.jointhiking-gVW .group-1-prc .auto-group-3ys5-4rk .frame-35-Wye .frame-28-cFz .frame-33-c88 .henry-TPe {
  width: 6.5rem;
  height: 3rem;
  position: absolute;
  left: 9.2rem;
  top: 2rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.022rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.jointhiking-gVW .group-1-prc .auto-group-3ys5-4rk .frame-35-Wye .frame-28-cFz .frame-34-y76 {
  width: 100%;
  height: 7rem;
  position: relative;
  flex-shrink: 0;
}
.jointhiking-gVW .group-1-prc .auto-group-3ys5-4rk .frame-35-Wye .frame-28-cFz .frame-34-y76 .rectangle-25-X8c {
  width: 38.3rem;
  height: 5.8rem;
  position: absolute;
  left: 2.4rem;
  top: 0.6rem;
  background-color: #d9d9d9;
}
.jointhiking-gVW .group-1-prc .auto-group-3ys5-4rk .frame-35-Wye .frame-28-cFz .frame-34-y76 .ellipse-6-4PS {
  width: 7rem;
  height: 7rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #9747ff;
  border-radius: 3.5rem;
}
.jointhiking-gVW .group-1-prc .auto-group-3ys5-4rk .frame-35-Wye .frame-28-cFz .frame-34-y76 .henry-QTJ {
  width: 6.5rem;
  height: 3rem;
  position: absolute;
  left: 9.2rem;
  top: 2rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.022rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.jointhiking-gVW .group-1-prc .auto-group-3ys5-4rk .frame-35-Wye .frame-28-cFz .frame-25-vRe {
  width: 100%;
  height: 7rem;
  position: relative;
  flex-shrink: 0;
}
.jointhiking-gVW .group-1-prc .auto-group-3ys5-4rk .frame-35-Wye .frame-28-cFz .frame-25-vRe .rectangle-25-5ZS {
  width: 38.3rem;
  height: 5.8rem;
  position: absolute;
  left: 2.4rem;
  top: 0.6rem;
  background-color: #d9d9d9;
}
.jointhiking-gVW .group-1-prc .auto-group-3ys5-4rk .frame-35-Wye .frame-28-cFz .frame-25-vRe .ellipse-6-Dfe {
  width: 7rem;
  height: 7rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #9747ff;
  border-radius: 3.5rem;
}
.jointhiking-gVW .group-1-prc .auto-group-3ys5-4rk .frame-35-Wye .frame-28-cFz .frame-25-vRe .henry-AKz {
  width: 6.5rem;
  height: 3rem;
  position: absolute;
  left: 9.2rem;
  top: 2rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.022rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.jointhiking-gVW .group-1-prc .auto-group-3ys5-4rk .frame-35-Wye .auto-group-wcc3-4wA {
  margin-top: 1.5rem;
  width: 4.2rem;
  height: 56.6rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.jointhiking-gVW .group-1-prc .auto-group-3ys5-4rk .frame-37-bRJ {
  margin: 0rem 4.2rem 0rem 3.1rem;
  width: calc(100% - 7.3rem);
  height: 10.1rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.033rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffa629;
  border-radius: 2rem;
}
