
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.more-detail-at8 {
  box-sizing: border-box;
  padding: 0.9rem 2.2rem 0.9rem 2.6rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-end;
  background-color: #ffffff;
}
.more-detail-at8 .auto-group-mqrh-54C {
  margin: 0rem 7.9rem 1.9rem 0rem;
  width: 20.6rem;
  flex-shrink: 0;
}
.more-detail-at8 .auto-group-mqrh-54C .nctuemblem-1-zgx {
  margin-bottom: 4.3rem;
  width: 9.5rem;
  height: 9.5rem;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
}
.more-detail-at8 .auto-group-mqrh-54C .component-1-XRz {
  box-sizing: border-box;
  padding: 2.1rem 1.9rem 2.2rem 2rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
}
.more-detail-at8 .auto-group-mqrh-54C .component-1-XRz .cooking-2-Sor {
  margin: 0rem 0rem 3.4rem 0.6rem;
  width: 11.3rem;
  height: 11.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.more-detail-at8 .auto-group-mqrh-54C .component-1-XRz .yoga-1-ZtU {
  margin: 0rem 1.2rem 5.8rem 0rem;
  width: 10.5rem;
  height: 10.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.more-detail-at8 .auto-group-mqrh-54C .component-1-XRz .restaurant-1-6Nc {
  margin: 0rem 1.7rem 5.8rem 0rem;
  width: 10rem;
  height: 8.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.more-detail-at8 .auto-group-mqrh-54C .component-1-XRz .video-1-DCL {
  margin: 0rem 1.3rem 3.4rem 0rem;
  width: 9.8rem;
  height: 10.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.more-detail-at8 .auto-group-mqrh-54C .component-1-XRz .guitar-1-jRa {
  margin: 0rem 0rem 5rem 0.1rem;
  width: 11.8rem;
  height: 13.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.more-detail-at8 .auto-group-mqrh-54C .component-1-XRz .next-Fui {
  width: 16.7rem;
  height: 3.8rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.more-detail-at8 .auto-group-ybfh-BoN {
  margin: 0rem 5.1rem 3.8rem 0rem;
  display: grid;
  grid-template-columns: repeat(2, 42.1196rem);
  grid-auto-rows: 14.1214rem;
  flex-shrink: 0;
}
.more-detail-at8 .auto-group-ybfh-BoN .frame-38-FoE {
  display: flex;
  align-items: center;
}
.more-detail-at8 .auto-group-ybfh-BoN .frame-38-FoE .others-requirement--1nQ {
  margin-right: 1.2rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.033rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.more-detail-at8 .auto-group-ybfh-BoN .frame-38-FoE .rectangle-29-JWc {
  width: 53.2rem;
  height: 3.7rem;
  background-color: #ffffff;
  flex-shrink: 0;
}
.more-detail-at8 .auto-group-ybfh-BoN .frame-39-3j6 {
  height: 4.5rem;
  display: flex;
  align-items: center;
}
.more-detail-at8 .auto-group-ybfh-BoN .frame-39-3j6 .frame-37-bkc {
  margin-right: 3.15rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.more-detail-at8 .auto-group-ybfh-BoN .frame-39-3j6 .frame-37-bkc .place--wpU {
  margin-right: 1.2rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.033rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.more-detail-at8 .auto-group-ybfh-BoN .frame-39-3j6 .frame-37-bkc .rectangle-29-4u6 {
  width: 48.6rem;
  height: 3.7rem;
  background-color: #ffffff;
  flex-shrink: 0;
}
.more-detail-at8 .auto-group-ybfh-BoN .frame-39-3j6 .frame-38-c9v {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.more-detail-at8 .auto-group-ybfh-BoN .frame-39-3j6 .frame-38-c9v .prize--N96 {
  margin-right: 1.25rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.033rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.more-detail-at8 .auto-group-ybfh-BoN .frame-39-3j6 .frame-38-c9v .rectangle-29-6at {
  width: 8.6rem;
  height: 3.7rem;
  background-color: #ffffff;
  flex-shrink: 0;
}
.more-detail-at8 .auto-group-ybfh-BoN .frame-40-Sek {
  height: 4.5rem;
  display: flex;
  align-items: center;
}
.more-detail-at8 .auto-group-ybfh-BoN .frame-40-Sek .frame-37-zwA {
  margin-right: 4.45rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.more-detail-at8 .auto-group-ybfh-BoN .frame-40-Sek .frame-37-zwA .date--xNC {
  margin-right: 1.25rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.033rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.more-detail-at8 .auto-group-ybfh-BoN .frame-40-Sek .frame-37-zwA .rectangle-29-a8g {
  width: 19.2rem;
  height: 3.7rem;
  background-color: #ffffff;
  flex-shrink: 0;
}
.more-detail-at8 .auto-group-ybfh-BoN .frame-40-Sek .frame-37-X3v {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.more-detail-at8 .auto-group-ybfh-BoN .frame-40-Sek .frame-37-X3v .max-number-of-people--GXJ {
  margin-right: 1.15rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.033rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.more-detail-at8 .auto-group-ybfh-BoN .frame-40-Sek .frame-37-X3v .rectangle-29-nEk {
  width: 11.2rem;
  height: 3.7rem;
  background-color: #ffffff;
  flex-shrink: 0;
}
.more-detail-at8 .auto-group-ybfh-BoN .frame-38-8ZW {
  display: flex;
  align-items: center;
}
.more-detail-at8 .auto-group-ybfh-BoN .frame-38-8ZW .event-name--Vur {
  margin-right: 1.2rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.033rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.more-detail-at8 .auto-group-ybfh-BoN .frame-38-8ZW .rectangle-29-1tC {
  width: 50.4rem;
  height: 3.7rem;
  background-color: #ffffff;
  flex-shrink: 0;
}
.more-detail-at8 .auto-group-ybfh-BoN .frame-42-AFJ {
  width: 80.2rem;
}
.more-detail-at8 .auto-group-ybfh-BoN .frame-42-AFJ .describe--i1v {
  margin-bottom: 1rem;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.033rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.more-detail-at8 .auto-group-ybfh-BoN .frame-42-AFJ .rectangle-30-pqe {
  margin-left: 1rem;
  width: 79.2rem;
  height: 14.1rem;
  background-color: #ffffff;
}
.more-detail-at8 .auto-group-ybfh-BoN .frame-44-9sv {
  width: 79.8rem;
}
.more-detail-at8 .auto-group-ybfh-BoN .frame-44-9sv .photo--7Zr {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.033rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.more-detail-at8 .auto-group-ybfh-BoN .frame-44-9sv .frame-43-FRA {
  width: 100%;
  height: 22.1rem;
  display: flex;
  column-gap: 1.5rem;
  align-items: center;
}
.more-detail-at8 .auto-group-ybfh-BoN .frame-44-9sv .frame-43-FRA .frame-45-nvt {
  box-sizing: border-box;
  padding: 6.8rem 9.2rem 9.1rem 9.8rem;
  height: 100%;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.more-detail-at8 .auto-group-ybfh-BoN .frame-44-9sv .frame-43-FRA .frame-45-nvt .upload-1-w36 {
  width: 6.6rem;
  height: 6.2rem;
  object-fit: cover;
  vertical-align: top;
}
.more-detail-at8 .auto-group-ybfh-BoN .frame-44-9sv .frame-43-FRA .frame-46-GbA {
  box-sizing: border-box;
  padding: 6.8rem 9.8rem 9.1rem 9.2rem;
  height: 100%;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.more-detail-at8 .auto-group-ybfh-BoN .frame-44-9sv .frame-43-FRA .frame-46-GbA .upload-2-bdS {
  width: 6.6rem;
  height: 6.2rem;
  object-fit: cover;
  vertical-align: top;
}
.more-detail-at8 .auto-group-ybfh-BoN .frame-44-9sv .frame-43-FRA .frame-47-8dN {
  box-sizing: border-box;
  padding: 6.8rem 9.4rem 9.1rem 9.6rem;
  height: 100%;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.more-detail-at8 .auto-group-ybfh-BoN .frame-44-9sv .frame-43-FRA .frame-47-8dN .upload-3-Gja {
  width: 6.6rem;
  height: 6.2rem;
  object-fit: cover;
  vertical-align: top;
}
.more-detail-at8 .auto-group-ybfh-BoN .line-2-cHe {
  width: 82.5rem;
  height: 0.1rem;
  background-color: #000000;
}
.more-detail-at8 .auto-group-ybfh-BoN .example-2-illustrates-the-fact-that-a-function-need-not-have-a-maximum-or-minimum-value-at-a-critical-point-figure-3-shows-how-this-is-possible-the-graph-of-is-the-hyperbolic-paraboloid-which-has-a-horizontal-tangent-plane-at-the-origin-you-can-see-that-is-a-maximum-in-the-9oN {
  max-width: 79.2rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.0198rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.more-detail-at8 .group-1-9gt {
  margin-bottom: 1.9rem;
  box-sizing: border-box;
  padding: 3.2rem 2.1rem 7.1rem 2.2rem;
  width: 22.9rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  flex-shrink: 0;
}
.more-detail-at8 .group-1-9gt .frame-6-Tha {
  margin: 0rem 3rem 2.5rem 2.9rem;
  width: calc(100% - 5.9rem);
  height: 12.6rem;
  cursor: pointer;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-2.png');
  flex-shrink: 0;
}
.more-detail-at8 .group-1-9gt .frame-6-Tha .surfer-1-aXJ {
  width: 8.3rem;
  height: 8.2rem;
  position: absolute;
  left: 2.2rem;
  top: 2.1rem;
  object-fit: cover;
  vertical-align: top;
}
.more-detail-at8 .group-1-9gt .frame-6-Tha .frame-52-uZa {
  width: 3.8rem;
  height: 3.8rem;
  position: absolute;
  left: 0.2rem;
  top: 0;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.0143rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #afacac;
  border-radius: 1.9rem;
}
.more-detail-at8 .group-1-9gt .line-4-LPz {
  margin: 0rem 1.2rem 3.1rem 1.4rem;
  width: calc(100% - 2.6rem);
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.more-detail-at8 .group-1-9gt .frame-7-evU {
  margin: 0rem 3rem 5.7rem 2.9rem;
  width: calc(100% - 5.9rem);
  height: 12.6rem;
  cursor: pointer;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-3-bgt.png');
  flex-shrink: 0;
}
.more-detail-at8 .group-1-9gt .frame-7-evU .hiking-1-n16 {
  width: 7.7rem;
  height: 9rem;
  position: absolute;
  left: 2.5rem;
  top: 1.8rem;
  object-fit: cover;
  vertical-align: top;
}
.more-detail-at8 .group-1-9gt .frame-7-evU .frame-53-5F6 {
  box-sizing: border-box;
  padding: 0.1rem 0.25rem 0.1rem 0.15rem;
  width: 3.8rem;
  height: 3.8rem;
  position: absolute;
  left: 0.2rem;
  top: 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.022rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  background-color: #afacac;
  border-radius: 1.9rem;
}
.more-detail-at8 .group-1-9gt .frame-7-evU .frame-53-5F6 .frame-53-5F6-sub-0 {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 2.5;
  letter-spacing: -0.022rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.more-detail-at8 .group-1-9gt .frame-7-evU .frame-53-5F6 .frame-53-5F6-sub-1 {
}
.more-detail-at8 .group-1-9gt .frame-8-Jn4 {
  margin: 0rem 3rem 15.7rem 2.9rem;
  width: calc(100% - 5.9rem);
  height: 12.6rem;
  cursor: pointer;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-4-FmS.png');
  flex-shrink: 0;
}
.more-detail-at8 .group-1-9gt .frame-8-Jn4 .cooking-1-2TA {
  width: 9.2rem;
  height: 8.2rem;
  position: absolute;
  left: 2.2rem;
  top: 2.3rem;
  object-fit: cover;
  vertical-align: top;
}
.more-detail-at8 .group-1-9gt .frame-8-Jn4 .frame-54-A3a {
  box-sizing: border-box;
  padding: 0.1rem 0.25rem 0.1rem 0.15rem;
  width: 3.8rem;
  height: 3.8rem;
  position: absolute;
  left: 0.2rem;
  top: 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.022rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  background-color: #afacac;
  border-radius: 1.9rem;
}
.more-detail-at8 .group-1-9gt .frame-8-Jn4 .frame-54-A3a .frame-54-A3a-sub-0 {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 2.5;
  letter-spacing: -0.022rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.more-detail-at8 .group-1-9gt .frame-8-Jn4 .frame-54-A3a .frame-54-A3a-sub-1 {
}
.more-detail-at8 .group-1-9gt .frame-9-t7z {
  box-sizing: border-box;
  padding: 2.1rem 5.7rem;
  width: 100%;
  height: 10.8rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  background-color: #eb2222;
  border-radius: 2rem;
  flex-shrink: 0;
}
.more-detail-at8 .group-1-9gt .frame-9-t7z .create-event--cZn {
  max-width: 7.2rem;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.0242rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
